.accordeon {
  .b-t-1 {
    border-top: 1px solid $white !important;
  }

  .b-b-1 {
    border-bottom: 1px solid $white !important;
  }

  .ac-list {
    border-top: 1px solid $white;

    .question {
      font-family: $text-font-Bold;
      font-size: 14px;
      margin: 0;
      line-height: 18px;
      color: $white;
      padding: 30px 40px 30px 0;
      cursor: pointer;
      position: relative;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      &::after {
        content: "";
        position: absolute;
        top: 23px;
        right: 10px;
        width: 30px;
        height: 30px;
        border: 1px solid #fff;
        border-radius: 50%;
        background-image: url(../img/plus.svg);
        background-position: 50%;
        background-size: 12px;
      }
    }
    .question {
      &.active{
        -ms-text-overflow: unset;
        white-space: pre-wrap;
        text-overflow: unset;
        &::after{
          background-image: url(../img/minus.svg);
        }
      }
    }

    .answ-container {
      padding-left: 10px;
      padding-right: 30px;
      display: none;
      overflow: hidden;
      p{
        color: $white;
      }
    }
  }
  &._no-wrap{
    .question{
      white-space: pre-wrap;
    }
  }

}

@media (max-width: 991px) {
  .bt-md-0 {
    border-top: none !important;
  }
}

