body{
  overflow-x: hidden;
}
.blog-header {
  margin: 75px 0;
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 2;
  header {
    margin-top: 50px;
  }

  &-date {
    font-size: 20px;
    font-family: $text-font;
    margin-bottom: 60px;
    margin-top: 20px;
  }

  &-img {
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
      height: 100%;
      z-index: -1;
    }
  }
}
.number-list{
  padding-left: 50px;
  margin-top: 50px;
  margin-bottom: 45px;
}
.dot-list{
  @extend .number-list;
  p{
    position: relative;
    &::before{
      content: '';
      width: 6px;
      height: 6px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: $grn-btn;
      position: absolute;
      left: -20px;
      top: 10px;
    }
  }
}
.source-links{
  border-top: 1px solid $lbg-blue;
  p{
    font-size: 16px;
    font-family: $text-font-medium;
    margin-bottom: 40px;
  }
  margin-top: 75px;
  padding: 50px 0;
  a{
    font-size: 14px;
    color: $title-color-sec;
    font-family: $text-font-light;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    &:hover{
      color: $bg-blue;
    }
  }
}
.blog-navigation{
  padding-right: 50px;
  border-right: 1px solid $lbg-blue;
  li{
    color: $text-color;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    font-family: $text-font-medium;
    cursor: pointer;
    &:hover,
    &.active{
      color: $nav-blue;
    }
  }
}

.blog{
  overflow: visible;
  &.investors{
    padding: 185px 0 80px;
    margin-bottom: 120px;
    .info{
      max-width: 400px;
      p{
        margin-bottom: 0;
      }
    }
    .section{
      align-items: flex-end;
    }
    img{
      margin-bottom: -120px;
    }
  }
}
.blog-section{
  margin-bottom: 100px;
  &-item{
    height: 410px;
    margin-bottom: 40px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: $white;
    position: relative;
    display: block;
    overflow: hidden;
    box-shadow:0px 0px 1px rgba(0,0,0,0.7);
    &-head{
      padding: 30px 20px;
      background: $dbg-blue;
      height: 220px;
      position: relative;
      margin-bottom: 45px;
      background-size: 65%;
      background-repeat: no-repeat;
      background-position: right -40px bottom -20px;
      &.customSoftware{
        background-image: url(../img/blog/customSoftware.png);
      }
      &.blockchain_2{
        background-image: url(../img/blog/blockchain_2.png);
      }
      &.mobile-simple{
        background-image: url(../img/blog/mobile-simple.png);
      }
      &.software{
        background-image: url(../img/blog/software.png);
      }
      &.workflow{
        background-image: url(../img/blog/workflow.png);
      }
      &.AI{
        background-image: url(../img/blog/AI.png);
      }
      &.SaaS{
        background-image: url(../img/blog/SaaS.png);
      }
      &.ethereumERC{
        background-image: url(../img/blog/ethereumERC.png);
        background-position: right -50px bottom -30px;
      }
      &.CustomSoftware2{
        background-image: url(../img/blog/CustomSoftware2.png);
      }
      &.eCommerce{
        background-image: url(../img/blog/eCommerce.png);
      }
      //municipalities slider
      &.SEOBlog{
        background-image: url(../img/nonprofits/SEOBlog.png);
      }
      &.ADABlog{
        background-image: url(../img/nonprofits/ADABlog.png);
        background-position: right -110px bottom -30px;
      }
      &.communityBlog{
        background-image: url(../img/nonprofits/communityBlog.png);
        background-position: right -110px bottom -30px;
      }
      &.communicationBlog{
        background-image: url(../img/nonprofits/communicationBlog.png);
        background-position: right -70px bottom -30px;
      }
      &.mobileFriendlyBlog{
        background-image: url(../img/nonprofits/mobileFriendlyBlog.png);
        background-position: right -80px bottom -20px;
      }
      &.dataMigrationBlog{
        background-image: url(../img/nonprofits/dataMigrationBlog.png);
        background-position: right -80px bottom -70px;
      }
      &.engagementBlog{
        background-image: url(../img/nonprofits/engagementBlog.png);
        background-position: right -50px bottom -10px;
      }
      &.CMSblog{
        background-image: url(../img/nonprofits/CMSblog.png);
        background-position: right -80px bottom -10px;
      }
      &.successBlog{
        background-image: url(../img/nonprofits/successBlog.png);
      }





      h2{
        max-width: 244px;
      }
      .middle{
        position: absolute;
        left: 20px;
        bottom: -5px;
        font-family: $text-font;
        .date{
          font-size: 16px;
          color: $white;
          margin-bottom: 20px;
        }
        .category{
          font-size: 14px;
          color: $title-color-sec;
          background-color: $white;
          padding: 5px 12px;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          border-radius: 6px;
          border:1px solid $blog-box;
          margin-bottom: -10px;
          display: block;
          display: none;
        }
      }
    }
  }
  .blog-short{
    padding: 0 20px 30px 20px;
    p{
      margin: 0;
      color: $text-color;
      font-size: 15px;
      font-family: $text-font;
    }
  }
}
@media (max-width: 991px) {
  .blog{
    &.investors{
      padding: 220px 0 90px;
      margin-bottom: 90px;
      .info{
        max-width: 320px;
      }
      .photo{
        img{
          max-width: 364px;
          margin-right: 0;
        }
      }
    }
  }
  .blog-navigation{
    display: none;
  }
  .blog-header {
    &-img {
      img {
        margin-right: -50%;
      }
    }
  }
}

@media (max-width: 767px) {
  .blog-section{
    &-item{
      max-width: 340px;
      margin-left: auto;
      margin-right: auto;
      &-head{
        //bg fix
      }
    }
  }

  .blog{
    &.investors{
      padding: 180px 0 90px;
      margin-bottom: 100px;
      .info{
        margin-bottom: 50px;
        max-width: 400px;
      }
      .section{
        align-items: center;
      }
      .photo{
        img{
          max-width: 320px;
        }
      }
    }
  }
  .number-list{
    padding-left: 20px;
  }
  .blog-header{
    &-img{
      justify-content: flex-end;
      height: 100%;
      img{
        margin-right: 0px;
        margin-top: 0;
        margin-bottom: -20px;
        height: unset;
        max-width: 226px;
      }
    }
    &-date{
      margin-top: 40px;
    }
  }
}

@media (max-width:576px){
  .blog-header{
    &-img{
      img{
        margin-right: -40px;
        margin-bottom: -20px;
      }
    }
  }
}
