.bt {
  text-align: center;
  font-family: $text-font-medium;
  color: $white !important;
  display: inline-block;
  font-weight: 500;
  line-height: 26px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  transition: .2s;
  border:none;
  white-space: nowrap;
}

.btn-blue {
  font-size: 13px;
  background-color: $btn-color;
  padding: 8px 28px;

  &:hover {
    background-color: $btn-hover;
  }

  @extend .bt;
}

.btn-grn{
  font-size: 16px;
  background-color: $grn-btn;
  padding: 14px 28px;
  &:hover {
    background-color: $grn-btn-hover;
  }
  @extend .bt;
}
.tab-btn{
  padding-left: 15px;
  padding-right: 15px;
  flex-wrap: nowrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  overflow: hidden;
  .btn-grn{
    margin-left: 20px;
  }
  margin-bottom: 65px;
  li{
    margin: 1px;
    &:first-child{
      a{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }
    &.last-child{
      a{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
    a:not(.btn-grn){
      color: $title-color-sec;
      background-color: $lbg-blue;
      padding: 15px 44px;
      &.active{
        color: $white;
        background-color: $title-color-sec;
      }
    }
  }
}

.md-checkbox {
  position: relative;
  margin: 20px 0;
  text-align: left;
  display: flex;

  label {
    cursor: pointer;
    display: inline-block;
    line-height: $md-checkbox-size;
    vertical-align: top;
    clear: both;
    padding-left: 1px;
    font-size: 12px;
    font-family: $text-font;
    color: $white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:not(:empty) {
      padding-left: $md-checkbox-label-padding;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
    }

    &:before {
      // box
      width: $md-checkbox-size;
      height: $md-checkbox-size;
      background: transparent;
      border: 1px solid $md-checkbox-border-color;
      border-radius: $md-checkbox-border-radius;
      cursor: pointer;
      transition: background .2s;
    }

    &:after {
      // checkmark
    }
  }

  input[type="checkbox"] {
    outline: 0;
    visibility: hidden;
    position: absolute;
    z-index: -1;
    left: -99em;
    &:checked {
      + label:before {
        background: $md-checkbox-checked-color;
        border: none;
      }

      + label:after {

        $md-checkmark-size: $md-checkbox-size - 2 * $md-checkbox-padding;

        transform: translate($md-checkbox-padding, ($md-checkbox-size / 2) - ($md-checkmark-size / 2.6)) rotate(-45deg);
        width: $md-checkmark-size;
        height: $md-checkmark-size / 2;

        border: $md-checkmark-width solid $md-checkmark-color;
        border-top-style: none;
        border-right-style: none;
      }
    }

    &:disabled {
      + label:before {
        border-color: $md-checkbox-border-color-disabled;
      }

      &:checked {
        + label:before {
          background: $md-checkbox-checked-color-disabled;
        }
      }
    }
  }
}
//radio buttons
.md-radio {
  margin: 10px 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.md-radio__radio:not(:checked),
.md-radio__radio:checked {
  opacity: 0;
  position: absolute;
  margin: 0;
  z-index: -1;
  width: 0;
  height: 0;
  overflow: hidden;
  left: 0;
  pointer-events: none;
}
.md-radio__radio {
  ~ label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: $white;
    padding-left: 30px;
  }
  ~ label:before,
  ~ label:after {
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    left: 0;
    border: 2px solid transparent;
    border-radius: 50% 50%;
  }
  ~ label:before {
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all .1s ease-in;
  }
  &:not(:checked) ~ label:before {
    transform: scale(0);
  }
  &:not(:checked) ~ label:after {
    border: 1px solid $white;
  }
  &:checked ~ label:before {
    border: 2px solid $white;
    background-color: $white;
    transform: scale(.5);
  }
  &:checked ~ label:after {
    border: 8px solid $md-checkbox-checked-color;
  }
}
//switch button
.md-switch {
  input {
    outline: 0;
    visibility: hidden;
    position: absolute;
    z-index: -1;
    left: -99em;
  }

  &-toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 132px;
    height: 46px;
    background: transparent;
    border-radius: 4px;
    border:1px solid $white;
    transition: .1s;

    &::before,
    &::after {
      position: absolute;
      line-height: 46px;
      font-size: 12px;
      z-index: 2;
      transition: .1s;
      top: -1px;
      font-family: $text-font-medium;
    }

    &::before {
      content: 'No';
      left: 24px;
      color: $white;
    }

    &::after {
      content: 'Yes';
      right: 22px;
      color: $white;
    }
  }

  &-toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    background: $md-checkbox-checked-color;
    width: 50%;
    height: 46px;
    border-radius: 4px 0 0 4px;
    top: -1px;
    left: -1px;
    transition: .2s cubic-bezier(0, 0, 0.08, 1.4);
    transform: translateX(0);
  }

  input:checked {
    + .md-switch-toggle {
      .md-switch-toggle__handler {
        transform: translateX(67px);
        border-radius: 0 4px 4px 0;
      }
    }
  }
}
//switch button ends
.back-btn{
  text-align: center;
  font-family: Poppins-Medium;
  display: inline-block;
  font-size: 13px;
  line-height: 26px;
  border-radius: 4px;
  transition: .2s;
  border: none;
  white-space: nowrap;
  padding: 9px 38px;
  color: $title-color-sec;
  border:1px solid $title-color-sec;
  &:hover{
    color: $white;
    background-color: $title-color-sec;
  }
}
//responsive dropdown
.tab-dropdown{
  width: 100%;
  min-height: 50px;
  border-radius: 4px;
  background-color: $title-color-sec;
  color: $white;
  font-family: $text-font;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  z-index: 2;
  margin-bottom: 10px;
  text-align: left;
  &::after{
    content: "";
    position: absolute;
    right: 25px;
    top: 18px;
    transform: rotate(-45deg);
    width: 11px;
    height: 11px;
    border: .125em solid #fff;
    border-top-style: none;
    border-right-style: none;
    z-index: 2;
  }
  &-label{
    line-height: 50px;
    user-select: none;
    padding-left: 36px;
    position: relative;
    z-index: 2;
  }
  &-list{
    position: absolute;
    background-color: $dropdown-bg;
    width: 100%;
    display: none;
    top: 0;
    border-radius: 4px;
    padding-top: 9px;
    padding-bottom: 10px;
    z-index: 2;
    li{
      transition: .2s;
      padding-left: 36px;
      line-height: 35px;
    }
  }
  &.open{
    z-index: 3;
    &::after{
      transform: rotate(135deg);
      top: 25px;
    }
    .tab-dropdown-list{
      display: block;
    }
    .tab-dropdown-label{
      background: $title-color-sec;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }
}






//drag & drop scss


#DropFileUpload {
  .file-drop-area {
    border: 2px dashed $dashed;
    border-radius: 8px;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 80px 20px 22px 20px;
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/upload.svg);
    background-position: center top 18px;
    background-size: 40px;
    margin-bottom: 30px;
    &.is-active {
      background-color: $dropdown-bg;
      border: 2px solid $dropdown-bg;
      .file-msg {
        color: $dashed;
      }
    }
    .file-msg {
      font-size: 12px;
      color: $title-color-sec;
      font-family: $text-font;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      max-width: 246px;
      vertical-align: middle;
      text-align: center;
    }
    .file-input {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      cursor: pointer;
      opacity: 0;
      &:focus {
        outline: none;
      }
    }
  }
  .panel {
    background-color: #fff;
  }
}















@media (max-width: 1199px){
  .tab-btn{
    max-width: 900px;
    li{
      width: 100%;
      a:not(.btn-grn){
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

@media (max-width: 991px){
  .tab-btn{
    max-width: 800px;
    li{
      a:not(.btn-grn){
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}
@media (max-width: 767px){
  #DropFileUpload{
    .file-drop-area{
      margin-bottom: 20px;
    }
  }
  .tab-btn{
    flex-wrap: wrap;
    max-width: 340px;
    margin-bottom: 20px;
    .btn-grn{
      margin-left: 0;
      width: 100%;
    }
    li{
      a{
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin-bottom: 4px;
      };
    }
  }
}
