.blog{
  &.careers{
    .info{
      max-width: 500px;
    }
    p{
      font-size: 24px;
      font-family: $text-font-medium;
      font-weight: 500;
    }
  }
}
.careers-section{
  h2{
    color: $dark-title-color;
    margin-bottom: 60px;
  }
  padding-bottom: 100px;
}
.job-section{
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  min-height: 136px;
  border-radius: 8px;
  padding: 24px 38px;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.12);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  .btn-grn{
    padding: 14px 37px;
    margin-left: 30px;
  }
  .job-title{
    font-size: 24px;
    font-family: $text-font-medium;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 10px;
  }
  .job-details{
    margin-bottom: 0;
    font-family: $text-font-light;
    font-size: 16px;
    color: $dark-title-color;
    line-height: 22px;
  }
}
.career-sent-popup{
  p{
    font-size: 20px;
    max-width: 490px;
  }
}
.career-form-popup{
  .title{
    margin-bottom: 30px;
  }
  .popup{
    width: 90%;
  }
  .md-title{
    color: $dark-title-color;
  }
  .md-input{
    margin-bottom: 30px;
    input[type=text]{
      background-color: $popupwhite;
    }
  }
}












@media (max-width: 991px){

}

@media (max-width: 767px){
  .career-sent-popup{
    .popup{
      width: 90%;
      p{
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
      }
      span{
        margin-bottom: 40px;
      }
    }
  }
  .career-form-popup{
    .title{
      text-align: center;
      margin-bottom: 20px;
    }
    .md-input{
      margin-bottom: 20px;
    }
    .popup{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .careers-section{
    h2{
      margin-bottom: 40px;
      max-width: 440px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .job-section{
    flex-direction: column;
    padding: 24px 22px 38px 22px;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    .btn-grn{
      margin-left: 0;
      margin-top: 40px;
      width: 100%;
    }
  }
  .blog{
    &.careers{
      p{
        font-size: 22px;
      }
    }
  }
}

@media (max-width: 321px){
  .career-form-popup{
    .popup{
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}
