.footer {
  background-color: $grey-white;
  padding: 65px 0 22px 0;

  .awards {
    margin-top: 50px;
    display: flex;
    align-items: center;

    img:first-child {
      margin-right: 30px;
    }
  }

  .bottom{
    margin-top: 30px;
    .awards{
      display: none;
    }
  }

  a {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
  }

  .copyright {
    font-size: 10px;
    font-family: $text-font;
    color: $text-color;
  }
}

.footer-list {
  & > a {
    font-family: $text-font-medium;
    color: $text-color;
    font-size: 14px;
    margin: 30px 0;

    &:hover {
      color: $dark-title-color;
    }
  }

  ul {
    a {
      color: $footer-grey;
      font-family: $text-font;
      font-size: 12px;
      line-height: 24px;

      &:hover {
        color: $text-color;
      }
    }
  }

  .socials {
    margin: 17px 0;
  }

  .ico {
    width: 26px;
    height: 26px;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;

    &:hover {
      background-color: $footer-grey;
    }

    &.fb {
      background-image: url("../img/footer/facebook.png");
      margin-right: 10px;
    }

    &.tw {
      background-image: url("../img/footer/twitter.png");
    }
  }
}

.footer-logo {
  &._ex {
    display: none;
  }

  a {
    width: 141px;
    height: 56px;
    background-image: url(../img/footer/logo-blue.svg);
    -webkit-background-size: contain;
    background-size: contain;
  }
}

@media (max-width: 991px) {
  .footer {
    .bottom{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .awards{
        display: flex;
        margin: 0;
      }
    }
    ._toggle {
      display: none;
    }
  }
  .footer-logo {
    &._ex {
      display: flex;
    }
  }
}

@media (max-width: 767px) {
  .footer{
    padding: 60px 0 35px 0;
    .bottom{
      flex-direction: column;
      margin-top: 60px;
      .awards{
        margin-bottom: 60px;
      }
    }
  }
  .mobile-flex{
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .mobile-dropdown{
    //display: none;
  }
  .footer-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    a{
      width: 118px;
      height: 47px;
    }
  }
  .footer-list{
    &>a{
      font-size: 16px;
      margin: 20px 0;
    }
    .socials{
      justify-content: center;
    }
  }
}


