.main-form{
  font-family: $text-font;
  font-size: 12px;
  label{
    display: block;
    color: $white;
    margin-bottom: 2px;
  }
  textarea,
  input{
    margin-bottom: 28px;
    display: block;
    width: 100%;
    border-style: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: $text-color;
    padding: 10px 15px;
    position: relative;
    background-position: center right 10px;
    &.danger{
      background-image: url(../img/danger.svg);
      -webkit-background-size: 15px;
      background-size: 15px;
    }
    &.success{
      background-image: url(../img/success.svg);
    }
  }
  textarea{
    margin-bottom: 0;
    height: 160px;
  }
  button.btn-grn{
    margin-top: 25px;
    padding: 10px 45px;
  }
  .message{
    span{
      display: block;
      text-align: right;
      color: $white;
      font-size: 9px;
      padding-top: 6px;
    }
  }
}
.main-form-git{
  @extend .main-form;
  width: 100%;
  margin-top: 40px;
  button.btn-grn{
    margin-top: 19px;
    padding: 7px 45px;
  }
  label{
    text-align: left;
  }
}

.md-input{
  .char-counter{
    display: block;
    text-align: right;
    color: #fff;
    font-size: 9px;
    margin-bottom: 10px;
  }
  width: 100%;
  textarea,
  input[type="text"]{
    border:none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: $white;
    outline: none;
    width: 100%;
    font-size: 12px;
    font-family: $text-font;
    padding: 14px 10px;
    margin-bottom: 10px;
  }
  textarea{
    margin-bottom: 0;
  }
}
.md-title{
  font-family: $text-font;
  font-size: 12px;
  color: $white;
  margin-bottom: 5px;
  white-space: nowrap;
}

@media (max-width: 991px){
}
@media (max-width: 767px){
  .md-wrapper{
    margin-top: 15px;
  }
  .talk-form-section{
    padding: 50px 0 40px 0;
  }
  .main-form-git{
    max-width: 340px;
    margin: 0 auto;
    button.btn-grn{
      margin-top: 10px;
    }
  }
}
@media (max-width: 400px){
  .md-title{
    white-space: pre-wrap;
  }
}
