//get a quote page scss
.step {
  display: none;

  &.active {
    display: block;
  }
}

.get-quote-form {
  padding: 80px 0 100px 0;
  background-color: $dbg-blue;

  h6 {
    font-family: $text-font-Bold;
    margin-bottom: 35px;
    color: $title-color-sec;
  }

  .btn-grn {
    padding: 10px 30px;
    margin-top: 20px;
    font-weight: 100;
    font-size: 13px;
  }

  .back-btn {
    margin-left: 28px;
  }
}

.form-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 45px;
  border-bottom: 1px solid rgba(255, 255, 255, .25);
  margin-bottom: 45px;

  h2 {
    font-family: $text-font;
    font-weight: 100;
    color: $white;
    font-size: 22px;

    sub {
      font-size: 11px;
      margin-left: 8px;
    }
  }

  .steps {
    display: flex;
    align-items: center;

    .step-bullet {
      cursor: pointer;
      display: flex;
      align-items: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:nth-child(-n+2) {
        margin-right: 60px;
      }

      span {
        position: relative;
        display: block;
        width: 38px;
        height: 38px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        color: $title-color-sec;
        border: 1px solid $title-color-sec;
        background-color: transparent;
        text-align: center;
        line-height: 38px;
        font-size: 15px;
        opacity: .25;
        font-family: $text-font-medium;

        &.l::after,
        &.l::before {
          content: '';
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          height: 1px;
          width: 40px;
          background-color: $white;
          opacity: .25;
        }

        &.l::before {
          left: -50px;
        }

        &.l::after {
          right: -95px;
        }
      }

      p {
        margin: 0;
        color: $white;
        padding-left: 8px;
        font-family: $text-font;
        font-size: 12px;
        opacity: .6;
      }

      &.active {
        span {
          background-color: $title-color-sec;
          color: $white;
          opacity: 1;
        }

        p {
          opacity: 1;
        }
      }
    }
  }
}
.md-input{
  &._step-2{
    margin-bottom: 25px;
  }
  &._step-3{
    margin-bottom: 25px;
  }
}
._quote-success{
  padding: 110px 0;
}
.quote-success-message{
  //max-width: 740px;
  margin-bottom: 20px;
}
._quote-flex{
  .md-radio{
    width: 49%;
    display: inline-flex;
  }
}
@media (max-width: 991px) {
  ._margin-md--20{
    margin-top: -20px;
  }
  ._quote-success{
    padding: 90px 0;
  }
  .quote-success-message{
    max-width: 740px;
    margin-bottom: 20px;
  }
  .md-input{
    &._step-2{
      max-width: 90%;
    }
  }
  .form-head {
    h2 {
      max-width: 310px;

      sub {
        display: block;
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 767px) {
  ._margin-md--20{
    margin: 0;
    margin-top: 20px;
  }
  ._sm-wrapper{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    .md-switch{
      margin-bottom: 25px;
    }
  }
  .md-input{
    &._step-2{
      max-width: unset;
      margin-top: 38px;
      margin-bottom: 25px;
    }
    &._step-3-m{
      margin-top: 38px;
    }
  }
  .md-checkbox {
    margin-top: 0;
  }
  .get-quote-form {
    padding: 50px 0 100px 0;

    h6 {
      margin-top: 35px;
      margin-bottom: 30px;
    }

    .check-box {
      display: flex;
      flex-direction: column;
      align-items: center;

      .check {
        @extend .check-box;
      }
    }
  }
  .form-head {
    flex-direction: column;
    text-align: center;
    margin-bottom: 0;

    h2 {
      max-width: unset;
      margin-bottom: 35px;
    }
  }
  ._quote-success{
    padding: 60px 0 70px 0;
  }
  .quote-success-message{
    max-width: 740px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .form-head {
    .steps {
      .step-bullet {
        &:nth-child(-n+2) {
          margin-right: 40px;
        }

        span {
          min-width: 38px;
        }

        span.l {
          &::before {
            width: 30px;
            left: -35px;
          }

          &::after {
            width: 30px;
            right: -80px;
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .form-head {
    .steps {
      width: 100%;
      justify-content: space-around;

      .step-bullet {
        p {
          padding-left: 0;
          margin-top: 5px;
        }

        span {
          &::before {
            display: none;
          }

          &::after {
            display: none;
          }
        }

        flex-direction: column;

        &:nth-child(-n+2) {
          margin-right: 0;
        }
      }
    }
  }
}
