body.hidden{
  overflow: hidden!important;
}
nav{
  padding:70px 0 10px 0;
  width: 100%;
  top: 0;
  position: relative;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamburger{
    display: none;
    position: absolute;
    right: 15px;
    width: 25px;
    height: 18px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 100;
    span{
      background-color: $title-color-sec;
      height: 2px;
      display: block;
      width: 25px;
      position: absolute;
      right: 0;
      -webkit-transition: .2s;
      -moz-transition: .2s;
      -ms-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      &.t{
        top: 0;
      }
      &.m{
        width: 20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      &.b{
        bottom: 0;
      }
    }
  }
  .logo{
    display: flex;
    position: relative;
    z-index: 12;
    a{
      width: 141px;
      height: 56px;
      background-image: url(../img/logo.svg);
      -webkit-background-size: contain;
      background-size: contain;
    }
  }
  ul{
    display: flex;
    li{
      margin-left: 33px;
      &.res-copy{
        display: none;
        color: $white;
        font-size: 10px;
        font-family: $text-font;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 30px;
      }
    }
    a{
      color:$nav-blue;
      font-size: 12px;
      font-weight: 600;
      &:hover{
        color: $title-color;
      }
    }
  }
  &.custom{
    ul{
      li{
        a{
          color: $white;
          &:hover{
            color: $lbg-blue;
          }
        }
      }
    }
    .logo{
      a{
        background-image: url(../img/logo-white.svg);
      }
    }
    span{
      background-color: $white;
    }
  }
}

@media (max-width: 768px) {
  nav{
    padding-top: 15px;
    .container{
      max-width: 100%;
      position: relative;
    }
    .hamburger{
      display: block;
    }
    .logo{
      a{
        width: 86px;
        height: 34px;
      }
    }
    ul{
      flex-direction: column;
      position: fixed;
      top: 0;
      right: -102%;
      padding: 130px 0 70px 0;
      z-index: 10;
      background-color: #000;
      height: 100vh;
      overflow-y: auto;
      width: 100%;
      transition: .1s;
      background-color: $btn-color;
    }
    li{
      margin-right: 30px;
      text-align: right;
      margin-bottom: 30px;
      a{
        font-size: 25px;
        color: $white!important;
        opacity: .7;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
  nav.active{
    ul{
      right: 0;
      li{
        &.res-copy{
          display: block;
        }
      }
    }
    .hamburger{
      span{
        background-color: $white;
        &.t{
          top: 8px;
          transform: rotate(45deg);
        }
        &.m{
          opacity: 0;
        }
        &.b{
          bottom: 8px;
          transform: rotate(-45deg);
        }
      }
    }
    .logo{
      a{
        background-image: url(../img/logo-white.svg);
      }
    }
  }
}

@media (max-width: 576px){
  nav{
    li{
      margin-bottom: 30px;
      a{
        font-size: 25px;
      }
    }
  }
}
