@keyframes scaler{
  from{
    transform:translate(-50%, -50%) scale(0);
  }
  to{
    transform:translate(-50%, -50%) scale(1);
  }
}
.bl-bg {
  background-color: $bg-blue;
}

.lbl-bg {
  background-color: $lbg-blue;
}

.mbl-bg {
  background-color: $title-color-sec;
}

.dbl-bg {
  background-color: $dbg-blue;
}

.top-section {
  height: 100vh;
  max-height: 860px;
  overflow: hidden;

  &.home {
    background-image: url("../img/home/bg-assets/bg_home.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;

    header {
      margin-top: 150px;
      max-width: 365px;

      p {
        margin: 40px 0;
      }
    }
  }
}

.benefits-section {
  padding: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  max-width: 990px;
  min-height: 336px;
  margin: -130px auto -217px;
  position: relative;
  z-index: 2;

  .box {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    img {
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      max-width: 70px;
    }
  }

  header {
    margin-bottom: 70px;

    h2 {
      margin-bottom: 15px;
    }
  }
}

.steps-section {
  padding: 200px 0 60px 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -130px;
    left: 0;
    height: 370px;
    width: 192px;
    background-image: url(../img/home/bg-assets/statistics.png);
    background-size: contain;
  }

  header {
    max-width: 800px;
    margin: 90px auto 70px auto;

    h2 {
      margin-bottom: 15px;
    }
  }

  .box {
    max-width: 260px;
    margin: 10px auto 70px auto;

    h4 {
      margin: 30px 0 14px 0;
    }

    img {
      margin-right: -6px;
    }
  }
}

.services-section {
  padding: 150px 0;
  width: 100%;
  overflow: hidden;

  .title-sm {
    margin-bottom: 36px;
  }

  h2 {
    margin-top: 40px;
  }

  .btn-blue {
    margin-top: 30px;
  }

  .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 180px;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(odd) {
      text-align: left;
      flex-direction: row;

      .info {
        max-width: 520px;
      }
    }

    &:nth-child(even) {
      text-align: right;
      flex-direction: row-reverse;

      .info {
        max-width: 545px;
      }
    }
  }
}


.brands-section {
  padding: 70px 0;

  .brand-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      align-self: center;
      padding: 20px 30px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}

.center-title {
  padding: 50px 0 100px 0;

  .title {
    margin-bottom: 34px;
  }

  .title-md {
    margin-bottom: 40px;
  }

  .text {
    max-width: 700px;
    margin: 0 auto;
  }

  &._ex {
    .text {
      max-width: 900px;
    }
  }
}

.article-section {
  padding: 125px 0;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: unset;
    right: 0;
    width: 50%;
    height: 100%;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.rtl {
    &::after {
      right: unset;
      left: 0;
    }

    .container {
      flex-direction: row-reverse;
      text-align: right;
    }
  }

  .info {
    max-width: 525px;

    h2 {
      margin-bottom: 60px;
    }

    h3 {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}

//article-section background images
.article-section {
  &.team::after {
    background-image: url(../img/about/team.png);
    background-position-y: bottom;
  }

  &.goal::after {
    background-image: url(../img/about/success.png);
    background-position: right 25% bottom;
    top: 30px;
    z-index: 2;
  }

  &.commitment::after {
    background-image: url(../img/about/NDA.png);
    background-position: center left 25%;
  }

  &.web-app::after {
    background-image: url(../img/services/img/webapps.png);
    background-image: url(../img/services/img/webapps.png);
    background-position: left 15% bottom;
    top: 30px;
    z-index: 2;
  }

  &.mob-app::after {
    background-image: url(../img/services/img/mobile.png);
    background-position: left 15% center;
  }

  &.blockchain::after {
    background-image: url(../img/services/img/blockchain_2.png);
    background-position: left 15% center;
  }

  &.mach-learn::after {
    background-image: url(../img/services/img/AI.png);
    background-position: left 15% center;
  }
}

//article-section background images ends
.getin-touch-section {
  padding: 65px 0;

  &.funding {
    .t-white {
      font-size: 18px;
      line-height: 26px;
      max-width: 600px;
    }

    .bw {
      color: $white;
      font-family: $text-font-Bold;
    }
  }

  &.investors {
    padding: 75px 0;

    .container {
      flex-direction: column;
    }

    .t-white {
      max-width: unset;
    }
  }

  ._ex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  p {
    margin: 0;
  }
}

.talk-section {
  .title {
    margin-bottom: 15px;
  }

  .text {
    color: $title-color-sec;
    font-size: 16px;
  }
}

.talk-form-section {
  padding: 100px 0 90px 0;
  background-image: url(../img/bg_letsTalk.svg);
  background-repeat: repeat;

  form {
    max-width: 320px;
    margin: 0 auto;
  }
}

.ico-bg {
  @extend .talk-form-section;
}

.services-section {
  &._funding {
    padding: 85px 0 120px 0;
  }

}

.funding-section {
  padding: 200px 0 50px 0;
  margin-top: -150px;
  width: 100%;
  overflow: hidden;

  &.investors {
    padding: 200px 0 80px 0;
    overflow: visible;
    img {
      max-width: 600px;
    }
  }
  &.nonprofits{
    padding-bottom: 0;
    img{
      max-width: 100%;
      width: 460px;
      margin-bottom: -40px;
    }
  }
  .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .info {
    max-width: 500px;
  }

  h1 {
    margin-bottom: 45px;
  }
}

._investors {
  position: relative;

  .info {
    position: relative;
    z-index: 2;
  }

  .photo {
    position: absolute;
    right: 10%;
    bottom: -10px;

    img {
    }
  }
}

.faq-section {
  padding: 75px 0 80px 0;
}

.signup-section {
  padding: 60px 0 20px 0;
}

.policy {
  padding-top: 15px;
  display: block;
  color: $lbg-blue;

  a {
    color: $lbg-blue;
    border-bottom: 1px solid $lbg-blue;

    &:hover {
      border-bottom: none;
      color: $white;
    }
  }
}

.default-popup {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(23, 37, 96, 0.95);

  .popup {
    display: none;
    padding: 50px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: $white;
    position: absolute;
    top: 50%;
    min-width: 270px;
    max-width: 700px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    &.active{
      -webkit-animation: scaler .5s cubic-bezier(0.44, 0.39, 0.37, 1.51) 1;
      -o-animation: scaler .5s cubic-bezier(0.44, 0.39, 0.37, 1.51) 1;
      animation: scaler .5s cubic-bezier(0.44, 0.39, 0.37, 1.51) 1;
    }
    p {
      margin: 0;
      font-family: $text-font;
      color: $title-color-sec;
    }

    span {
      display: block;
      position: relative;
      width: 80px;
      height: 80px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: $grn-btn;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 40px;
        height: 25px;
        border: .125em solid #fff;
        border-top-style: none;
        border-right-style: none;
      }
    }
  }
}

//external scss
@import "services";
@import "getAQuote";
@import "howItWorks";
@import "blog";
@import "careers";
@import "nonprofits";


//media queries
@media (max-width: 1199px) {
  ._investors {
    .photo {
      right: 0;
    }
  }
  .steps-section {
    &::before {
      bottom: -160px;
      height: 330px;
      width: 172px;
    }
  }
}

@media (max-width: 991px) {
  .funding-section {
    .section {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .photo {
      img {
        margin-right: -150px;
      }
    }

    &.investors {
      img {
        max-width: 500px;
        margin-right: -100px;
      }
    }
    &.nonprofits{
      img{
        max-width: 100%;
        width: 400px;
        margin-right: -80px;
      }
    }
  }
  .article-section {
    padding: 100px 0;

    .info {
      max-width: 310px;

      h2 {
        margin-bottom: 50px;
      }

      h3 {
        margin-top: 50px;
        margin-bottom: 40px;
      }
    }
  }
  ._investors {
    .photo {
      bottom: -30px;
    }
  }
  .services-section {
    padding: 134px 0 78px 0;

    .title-sm {
      margin-bottom: 36px;
    }

    h2 {
      margin-top: 40px;
    }

    .btn-blue {
      margin-top: 30px;
    }

    .section {
      margin-bottom: 180px;

      img {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
      }

      &:nth-child(odd) {
        .info {
          max-width: 440px;
        }

        img {
          margin-right: -150px;
        }
      }

      &:nth-child(even) {
        .info {
          max-width: 440px;
        }

        img {
          margin-left: -150px;
        }
      }
    }
  }
  .steps-section {
    &::before {
      display: none;
    }

    .box {
      max-width: 210px;
    }
  }
  .top-section {
    min-height: 500px;
    max-height: 500px;

    &.home {
      -webkit-background-size: cover;
      background-size: cover;
      background-position: top center;

      header {
        margin-top: 80px;

        p {
          font-size: 14px;
        }
      }
    }
  }
  .benefits-section {
    max-width: 758px;
    padding: 50px 15px;

    .box {
      max-width: 135px;
    }
  }
}


@media (max-width: 767px) {
  .faq-section {
    padding: 45px 0;
  }
  ._investors {
    .photo {
      position: static;
      margin-bottom: -110px;
    }
  }
  .funding-section {
    h1 {
      margin-bottom: 30px;
    }

    .section {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
    }

    .photo {
      img {
        margin-right: 0;
        max-width: 400px;
      }
    }
    &.nonprofits{
      img{
        max-width: 100%;
      }
    }
  }
  .services-section {
    &._funding {
      padding: 55px 0 90px 0;

      .section {
        flex-direction: column !important;
        align-items: flex-start !important;
        text-align: left !important;

        .photo {
          display: block;
          width: 100%;
          text-align: center;

          img {
            margin: 0;
            object-fit: contain;
            width: 100%;
            max-width: 440px;
          }
        }
      }
    }
  }
  .center-title {
    &.paddinger {
      padding: 50px 0 50px 0;
    }
  }
  //article-section background images
  .article-section {
    &.team::after {
      background-position: center bottom;
      height: 300px;
      margin-bottom: -80px;
    }

    &.goal::after {
      background-position: center bottom;
      height: 400px;
      z-index: 2;
      margin-bottom: -80px;
    }

    &.commitment::after {
      background-position: center center;
      height: 250px;
      margin-bottom: -20px;
    }

    &.web-app::after {
      height: 320px;
      background-position: center bottom;
      margin-bottom: -110px;
      position: relative;
      top: 0;
      margin-top: 30px;
    }

    &.mob-app::after {
      height: 350px;
      background-position: center;
      margin-bottom: -110px;
      position: relative;
      z-index: 2;
      margin-top: 40px;
    }

    &.blockchain::after {
      height: 400px;
      background-position: center;
      margin-top: 10px;
      margin-bottom: -125px;
      position: relative;
      z-index: 2;
    }

    &.mach-learn::after {
      height: 400px;
      background-position: center;
      margin-bottom: -110px;
      z-index: 2;
      position: relative;
    }
  }
  //article-section background images ends
  .article-section {
    padding: 80px 0;

    &::after {
      position: static;
      display: block;
      width: 100%;
      background-size: contain;
    }

    .info {
      h2 {
        margin-bottom: 40px;
      }

      h3 {
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }

    .container {
      justify-content: center;
      text-align: center;
    }

    &.rtl {
      .container {
        justify-content: center;
        text-align: center;
      }
    }
  }
  .getin-touch-section {
    ._ex {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }

    p {
      margin-bottom: 35px;
    }
  }
  .services-section {
    padding: 44px 0 64px 0;

    h2 {
      margin-top: 35px;
    }

    .btn-blue {
      margin-top: 20px;
    }

    .section {
      flex-direction: row !important;
      text-align: center !important;
      margin-bottom: 60px;

      .info {
        margin: 0 auto;
      }

      .photo {
        display: none;
      }
    }
  }
  .steps-section {
    .box {
      max-width: 300px;
      margin-bottom: 40px;
      margin-top: 30px;

      h4 {
        margin-top: 25px;
      }
    }
  }
  .top-section {
    max-height: 500px;

    &.home {
      background-position: left 20% bottom;

      header {
        margin-top: 45px;

        p {
          font-size: 16px;
          margin: 30px 0;
        }
      }
    }
  }
  .benefits-section {
    max-width: 758px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding-bottom: 30px;

    .box {
      max-width: unset;
      margin-bottom: 40px;
    }

    header {
      margin-bottom: 60px;

      .title-xs {
        font-size: 18px;
      }

      .text {
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 576px) {
  .top-section {
    &.home {
      background-position: left 50% bottom 20%;
      background-size: 170%;
    }
  }
}


.testDiv {
  min-height: 300px;
  padding: 15px;
  background-color: cyan;
  margin-bottom: 10px;
}
