._hiw {
  .t-white{
    max-width: 700px;
  }
}
.hiw-section{
  padding: 100px 0;
  header{
    line-height: 24px;
    p{
      margin-bottom: 20px;
    }
  }
  &-list{
    font-family: $text-font-medium;
    font-size: 14px;
    margin-bottom: 44px;
    li{
      position: relative;
      padding-left: 30px;
      line-height: 28px;
      &::before{
        content: "";
        position: absolute;
        left: 2px;
        top: 9px;
        transform: rotate(-45deg);
        width: 13px;
        height: 8px;
        border: .125em solid #fff;
        border-top-style: none;
        border-right-style: none;
      }
    }
  }
  .photo{
    width: 100%;
    margin-bottom: -100%;
    img{
      width: 100%;
      max-height: 420px;
      object-fit: contain;
    }
  }
}
.max-lg-350{
  max-width: 350px;
}
.mobile-tab-dropdown{
  display: none;
  width: 100%;
  max-width: 340px;
  padding-bottom: 18px;
  .btn-grn{
    width: 100%;
  }
}





@media (max-width: 991px){
  .max-lg-350{
    max-width: unset;
  }
  ._flex-md{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hiw-section{
    padding: 80px 0 100px 0;
    .photo{
      margin-bottom: 40px;
    }
  }
  ._hiw {
    .t-white{
      max-width: 550px;
    }
  }
}
@media (max-width: 767px){
  .nav-how-it-works{
    display: none;
  }
  .mobile-tab-dropdown{
    display: block;
  }
  .hiw-section{
    header{
      text-align: center;
      margin-bottom: 30px;
    }
  }
}
