@media (min-width: 576px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 788px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1099px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width:1200px;
  }
}
