//services pages scss
._services{
  padding: 64px 0 65px;
  .title{
    margin-bottom: 5px;
  }
}
.services-content{
  background-color: $lght-bg;
  @extend .steps-section;
  padding: 0 0 110px 0;
  &::before{
    display: none;
  }
  header{
    margin-top: 100px;
    margin-bottom: 50px;
    .text{
      margin-bottom: 50px;
    }
    h2{
      margin-top: 0;
      margin-bottom: 45px;
    }
  }
  .box{
    max-width: unset;
    h4{
      margin-top: 20px;
    }
  }
  .text-more{
    font-size: 19px;
    margin-bottom: 0;
    color: $dark-title-color;
    a{
      font-family: $text-font-Bold;
      color: $title-color;
    }
  }
}
.testimonial-section{
  .box{
    max-width: 335px;
    margin: 0 auto;
    height: 425px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 95px 45px 45px 45px;
    background-image: url(../img/services/quote.svg);
    background-position: 45px 40px;
    .text{
      color: $text-color;
      font-family: $text-font-medium;
    }
  }
  h2{
    margin: 30px 0 80px 0;
  }
  .author{
    display: flex;
    align-items: center;
    margin-top: 20px;
    h5{
      font-family: $title-font;
      font-size: 16px;
      color: $dark-title-color;
    }
    p{
      margin: 0;
      font-size: 12px;
      color: $text-color;
    }
  }
  .photo{
    width: 65px;
    height: 65px;
    min-width: 65px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 20px;
    overflow: hidden;
    background-color: $grey-white;
    img{
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
  .owl-theme{
    .owl-dots:not(.disabled){
      margin-top: 65px!important;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      .owl-dot{
        span{
          background-color: $white;
          opacity: .5;
          width: 13px;
          height: 13px;
        }
        &.active{
          span{
            opacity: 1;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
.mb--80{
  margin-bottom: -80px;
}
.services-page-section{
  padding: 100px 0 60px 0;
  background-color: $white;
  .section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    .info{
      text-align: right;
      max-width: 545px;
    }
  }
}
.service-inner{
  header{
    padding: 62px 0 80px 0;
    .title{
      margin-bottom: 60px;
    }
    .text{
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &-bottom{
    @extend .service-inner;
    header{
      padding: 102px 0;
      .title-sm{
        margin-bottom: 60px;
        color: $dbg-blue;
      }
      .text{
        color: #172560;
        margin-bottom: 0;
      }
    }
  }
}
.services-inner-middle{
  background-color: $bg-blue;
  padding: 120px 0 100px 0;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: unset;
    right: 0;
    width: 50%;
    height: 100%;
    background-position-y: center;
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .info{
    max-width: 525px;
    width: 48%;
    h2{
      margin-bottom: 65px;
    }
    h4{
      margin-bottom: 30px;
    }
    p{
      margin-bottom: 0;
    }
  }
  .line{
    display: block;
    height: 1px;
    width: 234px;
    margin: 45px 0 48px 0;
    background: $white;
  }
}
//service inner images
.swapp::after{
  background-image: url("../img/services/img/html-js.png");
}
.dwapp::after{
  background-image: url("../img/services/img/dynamicWeb.png");
}
.ecommsolut::after{
  background-image: url("../img/services/img/eCommerce.png");
}
.saas::after{
  background-image: url("../img/services/img/SaaS.png");
}
.cmsdev::after{
  background-image: url("../img/services/img/CMS.png");
}
.crmdes::after{
  background-image: url("../img/services/img/CRM.png");
}
.iosapp::after{
  background-image: url("../img/services/img/iphone.png");
}
.andrapp::after{
  background-image: url("../img/services/img/androidPhone.png");
}
.hybridapp::after{
  background-image: url("../img/services/img/mobile-simple.png");
}
.decentapp::after{
  background-image: url("../img/services/img/servers.png");
}
.erc20::after{
  background-image: url("../img/services/img/ethereumERC.png");
}
.blockbased::after{
  background-image: url("../img/services/img/blockchainSolutions.png");
}
.classification::after{
  background-image: url("../img/services/img/algorithm.png");
}
.objdetect::after{
  background-image: url("../img/services/img/recognition.png");
}
.naturlangproc::after{
  background-image: url("../img/services/img/NLP.png");
}
.machinelearn::after{
  background-image: url("../img/services/img/AIExperts.png");
  background-position-x: 20%;
}








//media queries
@media (max-width: 991px){
  .services-inner-middle{
    padding: 90px 0 80px 0;
     &::after{
       height: 80%;
       width: 45%;
     }
     .info{
       max-width: 370px;
       width: 54%;
       h2{
         margin-bottom: 35px;
       }
     }
    .line{
      margin: 45px 0;
    }
   }
  .service-inner{
    header{
      padding: 62px 0 70px 0;
      .title{
        margin-bottom: 50px;
      }
    }
    &-bottom{
      header{
        padding: 90px 0;
        .title-sm{
          margin-bottom: 50px;
        }
      }
    }
  }
  .services-page-section{
    img{
      max-width: 95%;
    }
  }
  .objdetect:after,
  .machinelearn::after{
    height: 100%;
  }
}

@media (max-width: 767px){
  .services-inner-middle{
    padding: 80px 0 0 0;
    &::after{
      width: 100%;
      margin: 60px auto 0 auto;
      -webkit-background-size: cover;
      background-size: cover;
      display: block;
      position: static;
      background-position-x: center;
      background-position-y: top;
    }
    .info{
      max-width: 400px;
      text-align: center;
      margin: 0 auto;
      width: 94%;
    }
    .line{
      margin-left: auto;
      margin-right: auto;
    }
  }
  .service-inner{
    header{
      padding: 62px 0 55px 0;
      .title{
        margin-bottom: 45px;
      }
    }
    &-bottom{
      header{
        padding: 70px 0;
        .title-sm{
          margin-bottom: 45px;
        }
      }
    }
  }
  //service inner images 767
  .swapp::after{
    height: 390px;
    max-width: 490px;
  }
  .dwapp::after{
    height: 400px;
    max-width: 490px;
  }
  .ecommsolut::after{
    height: 500px;
    max-width: 490px;
  }
  .saas::after{
    height: 360px;
    max-width: 490px;
  }
  .cmsdev::after{
    height: 325px;
    max-width: 490px;
  }
  .crmdes::after{
    height: 325px;
    max-width: 490px;
  }
  .iosapp::after{
    height: 410px;
    max-width: 490px;
  }
  .andrapp::after{
    height: 410px;
    max-width: 490px;
  }
  .hybridapp::after{
    height: 350px;
    max-width: 490px;
  }
  .decentapp::after{
    height: 440px;
    max-width: 490px;
  }
  .erc20::after{
    height: 380px;
    max-width: 490px;
    background-size: contain;
    margin-top: 30px;
    transform: translateY(30px);
  }
  .blockbased::after{
    height: 300px;
    max-width: 490px;
    background-size: contain;
    position: relative;
    margin-top: 40px;
    transform: translateY(20px);
  }
  .classification::after{
    height: 370px;
    max-width: 490px;
    background-size: contain;
    transform: translateY(20px);
    margin-top: 40px;
  }
  .objdetect::after{
    height: 420px;
    max-width: 490px;
    background-size: contain;
  }
  .naturlangproc::after{
    height: 470px;
    max-width: 490px;
    margin-top: 0;
  }
  .machinelearn::after{
    height: 320px;
    max-width: 490px;
    background-size: contain;
    margin-top: 37px;
    transform: translateY(23px);
  }

  .services-content{
    header{
      margin-top: 80px;
    }
  }
  .mb--80{
    margin-bottom: -65px;
  }
  .services-page-section{
    padding-bottom: 50px;
    padding-top: 80px;
    .photo{
      padding: 0 15px;
      width: 100%;
      text-align: center;
    }
    img{
      width: 100%;
      max-width: 350px;
    }
    .section{
      .info{
        text-align: center;
        margin-bottom: 30px;
      }
      flex-direction: column;
    }
  }
  ._services{
    padding-bottom: 30px;
  }
  .testimonial-section{
    h2{
      margin-top: 45px;
      margin-bottom: 70px;
    }
  }
}
