/*=================== font family ====================*/
$title-font: 'Gilroy-ExtraBold';
$title-font-light: 'Gilroy-Light';
$text-font: 'Poppins-Regular';
$text-font-light: 'Poppins-Light';
$text-font-medium: 'Poppins-Medium';
$text-font-Bold: 'Poppins-Bold';

/*=================== color variations ====================*/
$nav-blue:#5478DD;

$title-color: #3B61C4;
$title-color-sec:#7CA5EA;
$dark-title-color:#3F3F3F;

$text-color:#787878;
$blog-box:#DCDCDC;
$btn-color: #3B61C4;
$btn-hover:#3557af;
$grn-btn:#97BF0E;
$grn-btn-hover: #89ad0d;

$white: #ffffff;
$popupwhite: #F9F9F9;
$grey-white:#FAFAFA;
$footer-grey:#C0C0C0;
$dashed: #D5E8FA;

$bg-blue:#3B61C4;
$lbg-blue:#D5E8FA;
$dbg-blue:#172560;
$lght-bg:#F5F9FE;
$dropdown-bg:#8BB3F7;
$black: #000000;

//checkboxes
$md-checkbox-checked-color: #97BF0E;
$md-checkbox-border-color: #ffffff;
$md-checkbox-border-color-disabled: rgba(0, 0, 0, 0.26);
$md-checkbox-checked-color-disabled: rgba(0, 0, 0, 0.26);

$md-checkbox-size: 1.835em;
$md-checkbox-padding: .25em;
$md-checkbox-border-width: 2px;
$md-checkbox-border-radius: 3px;
$md-checkmark-width: 0.125em;
$md-checkmark-color: #fff;
$md-checkbox-label-padding: 30px;


/*=================== fonts ====================*/
@import "fonts";




