.lght-bg {
  background-color: $lght-bg;
}

.dark-bl-bg {
  background-color: $dbg-blue;
}

._t-w {
  .text, p, h2 {
    color: $white;
  }
}
.marked-li{
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 28px;
  margin-left: 50px;
  text-align: left;
  li{
    padding-left: 30px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      left: 0px;
      top: 9px;
      transform: rotate(-45deg);
      width: 13px;
      height: 8px;
      border: .125em solid $grn-btn;
      border-top-style: none;
      border-right-style: none;
    }
  }
}
._nonprofits {
  background-color: $lght-bg;

  header {
    padding-top: 75px;
    padding-bottom: 75px;

    ._gtn {
      margin-top: 60px;
    }
  }
}

.nonprofits-section {
  .section {
    .info {
      max-width: 545px !important;
    }
  }

  ._paddinger-1 {
    padding-top: 60px;
    padding-bottom: 100px;

    img {
      max-width: 430px;
    }
  }

  ._paddinger-2 {
    padding-top: 60px;
    padding-bottom: 100px;

    img {
      max-width: 470px;
    }
  }

  ._paddinger-3 {
    padding-top: 60px;
    padding-bottom: 100px;

    img {
      max-width: 560px;
    }
  }

  ._paddinger-4 {
    padding-top: 60px;
    padding-bottom: 100px;

    img {
      max-width: 410px;
    }
  }

  ._paddinger-5 {
    padding-top: 60px;
    padding-bottom: 100px;

    img {
      max-width: 390px;
    }
  }

  div:nth-child(even) {
    .section {
      flex-direction: row-reverse;
      text-align: right;
    }
  }

  div:nth-child(odd) {
    .section {
      flex-direction: row;
    }
  }

  padding: 0;
}
.nonprofits-slider{
  margin-bottom: 0;
  h2{
    margin-top: 20px;
    margin-bottom: 70px;
  }
  .owl-theme{
    .owl-dots:not(.disabled){
      margin-top:20px!important;
    }
  }
}
.blog-header{
   &.nonprofit-header{
     padding-top: 30px;
     header{
       margin-top: 0;
     }
   }
 }







@media (max-width: 991px) {
  .nonprofits-section{
    &.services-section{
      padding:0;
    }
    .section{
      .info {
        max-width: 440px!important;
      }
    }
    div:nth-child(even) {
      .section {
        img{
          margin-left: -150px;
        }
      }
    }

    div:nth-child(odd) {
      .section {
        img{
          margin-right: -150px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .blog-header{
    &.nonprofit-header{
      padding-top: 30px;
      header{
        margin-top: 15px;
        margin-bottom: 140px;
      }
    }
  }
  .marked-li{
    margin-left: 30px;
  }
  .nonprofits-section{
    ._paddinger-1,
    ._paddinger-2,
    ._paddinger-3,
    ._paddinger-4,
    ._paddinger-5{
      padding-top: 40px;
      padding-bottom: 70px;
    }
  }
  ._nonprofits {
    header {
      padding-bottom: 60px;

      ._gtn {
        margin-top: 50px;
      }
    }
  }
}
