---
layout: custom-navbar
title: Careers
---
<div class="default-popup career-success-popup">
    <div class="popup text-center">
        <span></span>
        <h2 class="title">Thank you</h2>
        <p>for your interest in joining the job hub group team, we will reach out to you shortly with more information.</p>
    </div>
</div>
<div class="default-popup career-form-popup">
    <div class="popup">
        <h2 class="title">Apply to the position</h2>
        <form action="">
            <div class="md-input">
                <div class="row">
                    <div class="col-md-6">
                        <label for="" class="md-title">Full name</label>
                        <input type="text" placeholder="John Doe">
                    </div>
                    <div class="col-md-6">
                        <label for="" class="md-title">Email</label>
                        <input type="text" placeholder="Email Address">
                    </div>
                </div>
            </div>
            <div class="panel" id="DropFileUpload">
                <div class="file-drop-area">
                    <div class="file-msg js-set-number">Drag & Drop your file here or Browse files.<br>(4mb Max)</div>
                    <input class="file-input" type="file" multiple>
                </div>
            </div>
            <div class="text-center">
                <button class="btn-grn career-sent-success">Send Application</button>
            </div>
        </form>
    </div>
</div>
<section class="funding-section investors blog careers bl-bg">
    <div class="container">
        <div class="section t-white">
            <div class="info">
                <h1 class="title-60">Careers</h1>
                <p>Job Hub Group is growing and we are looking to expand our team with passionate and dedicated employees. </p>
            </div>
            <div class="photo">
                <img src="assets/img/career.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="careers-section">
    <div class="container">
        <h2 class="title-sm">Job Positions</h2>
        <div class="job-section">
            <div class="job">
                <h3 class="job-title">Front-End Developer Mid.</h3>
                <p class="job-details">The applicant must have demonstrated success in actively contributing to large consulting projects. 4+ years experience with Javascript / HTML / CSS with 2 years focused in React/Vue JS and be willing to work remotely.</p>
            </div>
            <a href="#!" class="btn-grn apply-now-btn">Apply Now</a>
        </div>
        <div class="job-section">
            <div class="job">
                <h3 class="job-title">Back-End Developer Sr.</h3>
                <p class="job-details">We are looking for a backend developer with 5+ years of experience designing technical solutions using object-oriented design concepts. Deep understanding of all things “database” - schema design, optimization, scalability, etc.</p>
            </div>
            <a href="#!" class="btn-grn apply-now-btn">Apply Now</a>
        </div>
        <div class="job-section">
            <div class="job">
                <h3 class="job-title">UX/UI Designer Sr.</h3>
                <p class="job-details">As a UX/UI designer with Job Hub Group, you will work alongside industry-leading copywriters and brand strategists, UX and product designers, project managers, and developers to create visually rich, complex digital experiences and compelling products.</p>
            </div>
            <a href="#!" class="btn-grn apply-now-btn">Apply Now</a>
        </div>
    </div>
</section>
