---
layout: comingSoon
title: COMING SOON
---
<div class="coming-soon-banner">
    <div class="container">
        <div class="logo">
            <img src="assets/img/logo-white.svg" alt="">
        </div>
        <h1><span>We are currently</span> updating our site</h1>
        <p>© 2019. Job Hub Group. All rights reserved.</p>
    </div>
</div>
