---
layout: default
title: FAQ
---
<section class="faq-section center-title text-center">
    <div class="container">
        <header>
            <h1 class="title">FAQ</h1>
            <p class="text">At Job Hub Group, we realize that custom software development, machine learning, eCommerce design and our other services and capabilities may be a little unfamiliar. Our goal is to help you understand what we can do for you and to ensure you’re able to make an informed decision when it comes to business software design. Below, you’ll find the answers to some of our
                clients’ most common questions.</p>
        </header>
    </div>
</section>
<section class="faq-section bl-bg">
    <div class="container accordeon t-white">
        <div class="row">
            <div class="col-lg-6">
                <div class="ac-list">
                    <h2 class="question">Do you work with small businesses?</h2>
                    <div class="answ-container">
                        <p class="text">Yes! We’re happy to work with entrepreneurs and small businesses to design custom applications and software to propel business success.</p>
                    </div>
                </div>
                <div class="ac-list">
                    <h2 class="question">What can you help me with?</h2>
                    <div class="answ-container">
                        <p class="text">At Job Hub Group, we can help you grow your business in a wide range of ways. We can design and deliver a custom eCommerce platform, a CRM solution, web applications, mobile applications, and more. We employ a team of leading experts and utilize best-of-breed tools and techniques to create solutions to your most pressing problems. See our services page or get in touch with us for more information.</p>
                    </div>
                </div>
                <div class="ac-list">
                    <h2 class="question">Is a mobile application better than a custom web application?</h2>
                    <div class="answ-container">
                        <p class="text">There’s no “right” answer here. For some clients, a custom mobile application is the best choice. For others, we custom design web applications to provide more traction. We can help you determine the best path forward for your specific situation.</p>
                    </div>
                </div>
                <div class="ac-list">
                    <h2 class="question">How much tech knowledge do I need to have to work with you?</h2>
                    <div class="answ-container">
                        <p class="text">None. Most of our clients aren’t tech experts. They’re business owners, dreamers, and entrepreneurs. We bring the tech-savvy necessary so that you can focus on what you do best.</p>
                    </div>
                </div>
                <div class="ac-list b-b-1">
                    <h2 class="question">Is blockchain development right for my business?</h2>
                    <div class="answ-container">
                        <p class="text">Custom blockchain solutions can be highly beneficial, particularly when it comes to information security and safety. However, they’re not the right choice for everyone. We’ll sit down with you and explore the possibilities in order to find the right solution for your requirements, goals, and budget.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ac-list bt-md-0">
                    <h2 class="question">How long does custom app development take?</h2>
                    <div class="answ-container">
                        <p class="text">It varies from project to project. However, we employ a multistep, agile process that ensures we’re able to deliver quality results, fast, without sacrificing performance, aesthetics, or functionality.</p>
                    </div>
                </div>
                <div class="ac-list">
                    <h2 class="question">How do you ensure quality for custom software and apps?</h2>
                    <div class="answ-container">
                        <p class="text">Our multistep development process includes multiple quality checks and testing to eliminate bugs and errors without causing undue slowdowns or bottlenecks that delay project completion and deployment.</p>
                    </div>
                </div>
                <div class="ac-list">
                    <h2 class="question">How do I know that my idea will be protected with you?</h2>
                    <div class="answ-container">
                        <p class="text">We are committed to discretion and security. We’re happy to sign an NDA prior to working with you, as well.</p>
                    </div>
                </div>
                <div class="ac-list">
                    <h2 class="question">Will you deliver a functional demo so that I can check functionality and suggest changes?</h2>
                    <div class="answ-container">
                        <p class="text">Yes, we do. One of our most important steps is delivering a fully-functional demo of your custom software. After you’ve had a chance to put it through its paces, we take your suggestions, make adjustments, and then move forward.</p>
                    </div>
                </div>
                <div class="ac-list b-b-1">
                    <h2 class="question">Do you have a full software development team to bring my idea to life?</h2>
                    <div class="answ-container">
                        <p class="text">Yes! We actually operate scalable teams of industry experts dedicated to bringing each client’s vision to life. Whether you’re interested in becoming an eCommerce success, developing a groundbreaking CRM platform, or want to connect with your audience through robust mobile app development, we have the team for you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
