---
layout: custom-navbar
title: Funding
---
<section class="funding-section bl-bg">
    <div class="container">
        <div class="section t-white">
            <div class="info">
                <h1 class="title-35">
                    Looking to Fund
                    <br>
                    <span class="title-60">Your Project?</span>
                </h1>
                <p class="text">Job Hub Group specializes in helping business owners and entrepreneurs just like you bring their dreams to life. We offer cutting-edge custom software design and development solutions to enable the creation of a wide range of projects, from custom blockchain-based options to static and dynamic web applications, to the design and implementation of mobile apps. However, we also go beyond app design and custom software development.</p>
            </div>
            <div class="photo">
                <img src="assets/img/funding/funding.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="services-section _funding">
    <div class="container">
        <div class="section t-black">
            <div class="info">
                <h2 class="title-sm">Connecting Forward-Thinking
                    Business Owners and Entrepreneurs
                    with the Funding They Need
                </h2>
                <div class="text">
                    <p>At Job Hub Group, we understand that liquidity is not always present, despite the inherent value of a project. In some instances, we are able to invest directly in these projects, delivering not just industry-leading software and app design solutions, but the funding needed to take your project from ideation to completion.
                        <br>
                        <br>
                        In other instances, we are able to connect business founders and dreamers with angel investors and others willing to provide the funding necessary to get the project off the ground. We regularly work with a wide range of investors who understand the value inherent in tech startups and groundbreaking app and software ideas.</p>
                </div>
            </div>
            <div class="photo">
                <img src="assets/img/funding/funding_inner.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="getin-touch-section funding dbl-bg">
    <div class="container _ex">
        <div class="t-white">
            <p class="text"><a href="lets-talk.html" class="bw">Contact us</a> today to learn more about how we might be able to help connect you with the funding needed to achieve success.</p>
        </div>
        <a href="lets-talk.html" class="btn-grn">Contact Us</a>
    </div>
</section>
