---
layout: default
title: Get a Quote
---
<section class="d-flex justify-content-center align-items-center text-center flex-column">
    <div class="container">
        <header class="center-title _services">
            <h1 class="title">Get a Quote</h1>
            <p class="text-16 t-lblue">Complete the fields below to receive a quote on your project</p>
        </header>
    </div>
</section>
<section class="get-quote-form">
    <form id="get-quote-form">
        <div id="step-one" class="step active">
            <div class="container">
                <div class="form-head">
                    <h2>Choose a project type<sub>(select as many as necessary)</sub></h2>
                    <div class="steps">
                        <div class="step-bullet active" data-target="step-one">
                            <span>1</span>
                            <p>Step 1</p>
                        </div>
                        <div class="step-bullet " data-target="step-two">
                            <span class="l">2</span>
                            <p>step 2</p>
                        </div>
                        <div class="step-bullet " data-target="step-three">
                            <span>3</span>
                            <p>step 3</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="check-box">
                            <h6 class="t-blue">Web Applications</h6>
                            <div class="check">
                                <div class="md-checkbox">
                                    <input id="static-web-app" name="web-applications-static-web-app" type="checkbox">
                                    <label for="static-web-app">Static web application</label>
                                </div>
                                <div class="md-checkbox">
                                    <input id="dynamic-web-app" name="web-applications-dynamic-web-app" type="checkbox">
                                    <label for="dynamic-web-app">Dynamic web application</label>
                                </div>
                                <div class="md-checkbox">
                                    <input id="ecommerce" name="web-applications-ecommerce" type="checkbox">
                                    <label for="ecommerce">eCommerce</label>
                                </div>
                                <div class="md-checkbox">
                                    <input id="saas-platform" name="web-applications-saas-platform" type="checkbox">
                                    <label for="saas-platform">SaaS platform</label>
                                </div>
                                <div class="md-checkbox">
                                    <input id="cms" name="web-applications-cms" type="checkbox">
                                    <label for="cms">CMS</label>
                                </div>
                                <div class="md-checkbox">
                                    <input id="crm" name="web-applications-crm" type="checkbox">
                                    <label for="crm">CRM</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="check-box">
                            <h6 class="t-blue">Mobile Applications</h6>
                            <div class="check">
                                <div class="md-checkbox">
                                    <input id="ios-app" name="mobile-application-ios-app" type="checkbox">
                                    <label for="ios-app">Native iOS application</label>
                                </div>
                                <div class="md-checkbox">
                                    <input id="android-app" name="mobile-application-android-app" type="checkbox">
                                    <label for="android-app">Native Android application</label>
                                </div>
                                <div class="md-checkbox">
                                    <input id="hybrid-app" name="mobile-application-hybrid-app" type="checkbox">
                                    <label for="hybrid-app">Hybrid application</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="check-box">
                            <h6 class="t-blue">Blockchain</h6>
                            <div class="check">
                                <div class="md-checkbox">
                                    <input id="decentral-app" name="blockchain-decentral-app" type="checkbox">
                                    <label for="decentral-app">Decentralized application</label>
                                </div>
                                <div class="md-checkbox">
                                    <input id="erc-20" name="blockchain-erc-20" type="checkbox">
                                    <label for="erc-20">ERC-20 Tokens</label>
                                </div>
                                <div class="md-checkbox">
                                    <input id="blockchain" name="blockchain-blockchain" type="checkbox">
                                    <label for="blockchain">Custom blockchain solution</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="check-box">
                            <h6 class="t-blue">Machine Learning</h6>
                            <div class="check">
                                <div class="md-checkbox">
                                    <input id="classification" name="machine-learning-classification" type="checkbox">
                                    <label for="classification">Classification</label>
                                </div>
                                <div class="md-checkbox">
                                    <input id="obj-detection" name="machine-learning-obj-detection" type="checkbox">
                                    <label for="obj-detection">Object detection</label>
                                </div>
                                <div class="md-checkbox">
                                    <input id="lang-process" name="machine-learning-lang-process" type="checkbox">
                                    <label for="lang-process">Natural language processing (NLP)</label>
                                </div>
                                <div class="md-checkbox">
                                    <input id="machine-learn" name="machine-learning-custom" type="checkbox">
                                    <label for="machine-learn">Custom machine learning solution</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center text-md-left">
                    <a href="#!" class="btn-grn" data-next="step-two">Continue</a>
                </div>
            </div>
        </div>
        <div id="step-two" class="step">
            <div class="container">
                <div class="form-head">
                    <h2>Tell us a bit more about your project</h2>
                    <div class="steps">
                        <div class="step-bullet active" data-target="step-one">
                            <span>1</span>
                            <p>Step 1</p>
                        </div>
                        <div class="step-bullet active" data-target="step-two">
                            <span class="l">2</span>
                            <p>step 2</p>
                        </div>
                        <div class="step-bullet" data-target="step-three">
                            <span>3</span>
                            <p>step 3</p>
                        </div>
                    </div>
                </div>
                <div class="row _sm-wrapper">
                    <div class="col-md-6">
                        <div class="md-input _step-2">
                            <div class="md-title">Project Name</div>
                            <input type="text" name="project-name" placeholder="Your project">
                        </div>
                    </div>
                    <div class="col-md-2 d-flex justify-content-md-end">
                        <div class="md-switch">
                            <div class="md-title">Have a Brand already?</div>
                            <input type="checkbox" name="brand-exists" id="brand" checked>
                            <label for="brand" class="md-switch-toggle">
                                <span class="md-switch-toggle__handler"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-switch">
                            <div class="md-title">Want to sell services/products online?</div>
                            <input type="checkbox" name="product-sold-online" id="product" checked>
                            <label for="product" class="md-switch-toggle">
                                <span class="md-switch-toggle__handler"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row _sm-wrapper">
                    <div class="col-md-8">
                        <div class="md-input">
                            <div class="md-title">Short description of the project</div>
                            <textarea name="project-description" id="" cols="30" rows="10"></textarea>
                            <span class="char-counter">max 300</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-wrapper">
                            <div class="md-title">What is your project target audience?</div>
                            <div id="target-oudience">
                                <div class="md-radio">
                                    <input name="target-audience" value="18-24" type="radio" id="t18-24" class="md-radio__radio" checked/>
                                    <label for="t18-24">18-24 years</label>
                                </div>
                                <div class="md-radio">
                                    <input name="target-audience" value="25-34" type="radio" id="t25-34" class="md-radio__radio"/>
                                    <label for="t25-34">25-34 years</label>
                                </div>
                                <div class="md-radio">
                                    <input name="target-audience" value="35-44" type="radio" id="t35-44" class="md-radio__radio"/>
                                    <label for="t35-44">35-44 years</label>
                                </div>
                                <div class="md-radio">
                                    <input name="target-audience" value="45-50" type="radio" id="t45-50" class="md-radio__radio"/>
                                    <label for="t45-50">45-50+ years</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center text-md-left">
                    <a href="#!" class="btn-grn" data-next="step-three">Continue</a>
                    <a href="#!" class="back-btn" data-prev="step-one">Back</a>
                </div>
            </div>
        </div>
        <div id="step-three" class="step">
            <div class="container">
                <div class="form-head">
                    <h2>Technical information about your project</h2>
                    <div class="steps">
                        <div class="step-bullet active" data-target="step-one">
                            <span>1</span>
                            <p>Step 1</p>
                        </div>
                        <div class="step-bullet active" data-target="step-two">
                            <span class="l">2</span>
                            <p>step 2</p>
                        </div>
                        <div class="step-bullet active" data-target="step-three">
                            <span>3</span>
                            <p>step 3</p>
                        </div>
                    </div>
                </div>
                <div class="row _sm-wrapper">
                    <div class="col-md-6">
                        <div class="md-input _step-3 _step-3-m">
                            <div class="md-title">How many languages will be required for your project?</div>
                            <input type="text" name="supported-languages" placeholder="4, English, Spanish, Russian and Chinese">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-switch">
                            <div class="md-title">Do you have an existing domain?</div>
                            <input type="checkbox" name="have-domain" id="domain" checked>
                            <label for="domain" class="md-switch-toggle">
                                <span class="md-switch-toggle__handler"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3 d-md-flex justify-content-md-end d-lg-block">
                        <div class="md-switch">
                            <div class="md-title">Do you have hosting?</div>
                            <input type="checkbox" name="have-hosting" id="hosting" checked>
                            <label for="hosting" class="md-switch-toggle">
                                <span class="md-switch-toggle__handler"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row _sm-wrapper">
                    <div class="col-md-6">
                        <div class="md-input _step-3">
                            <div class="md-title">Which countries will be involved in your project?</div>
                            <input type="text" name="involved-countries" placeholder="4, English, Spanish, Russian and Chinese">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-wrapper">
                            <div class="md-title">What is your project delivery timeframe?</div>
                            <div id="delivery-timeframe" class="d-lg-flex justify-content-between _quote-flex">
                                <div class="md-radio">
                                    <input name="delivery-timeframe" value="< 1 month" type="radio" id="Month1" class="md-radio__radio" checked/>
                                    <label for="Month1">< 1 Month</label>
                                </div>
                                <div class="md-radio">
                                    <input name="delivery-timeframe" value="1-2 months" type="radio" id="Months12" class="md-radio__radio"/>
                                    <label for="Months12">1 ~ 2 Months</label>
                                </div>
                                <div class="md-radio">
                                    <input name="delivery-timeframe" value="3-6 months" type="radio" id="Months36" class="md-radio__radio"/>
                                    <label for="Months36">3 ~ 6 Months</label>
                                </div>
                                <div class="md-radio">
                                    <input name="delivery-timeframe" value="> 6 month" type="radio" id="Months6" class="md-radio__radio"/>
                                    <label for="Months6">> 6 Months</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row _sm-wrapper">
                    <div class="col-lg-12 col-md-6">
                        <div class="row _margin-md--20">
                            <div class="col-lg-4 col-md-12 p-0 pl-md-3 pr-md-3">
                                <div class="md-input _step-3">
                                    <div class="md-title">Full Name</div>
                                    <input name="full_name" type="text" placeholder="Full name">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 p-0 pl-md-3 pr-md-3">
                                <div class="md-input _step-3">
                                    <div class="md-title">Email</div>
                                    <input name="email" type="text" placeholder="Email Address">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 p-0 pl-md-3 pr-md-3">
                                <div class="md-input _step-3">
                                    <div class="md-title">Phone Number</div>
                                    <input name="phone" type="text" placeholder="(555) 123 1234">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row _sm-wrapper">
                    <div class="col-12">
                        <button type="submit" class="btn-grn">Continue</button>
                        <a href="#!" class="back-btn" data-prev="step-two">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

