---
layout: default
title: How it works
---
<section class="d-flex justify-content-center align-items-center text-center flex-column">
    <div class="container">
        <header class="center-title _services">
            <h1 class="title">How It Works</h1>
            <p class="text-16 t-lblue mb-sm-0">Simple and straightforward, our custom software development process takes you from 0 to done in no time.</p>
        </header>
    </div>
    <ul class="nav nav-how-it-works tab-btn" id="how-it-works" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="consult-tab" data-toggle="tab" href="#consult" role="tab" aria-controls="consult" aria-selected="true">Consult</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="plan-tab" data-toggle="tab" href="#plan" role="tab" aria-controls="plan" aria-selected="false">Plan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="iterate-tab" data-toggle="tab" href="#iterate" role="tab" aria-controls="iterate" aria-selected="false">Iterate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="demo-tab" data-toggle="tab" href="#demo" role="tab" aria-controls="demo" aria-selected="false">Demo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="deploy-tab" data-toggle="tab" href="#deploy" role="tab" aria-controls="deploy" aria-selected="false">Deploy</a>
        </li>
        <li class="nav-item last-child">
            <a class="nav-link" id="support-tab" data-toggle="tab" href="#support" role="tab" aria-controls="support" aria-selected="false">Support</a>
        </li>
        <li>
            <a href="lets-talk.html" class="btn-grn">Get Started</a>
        </li>
    </ul>

    <!--responsive dropdown-->
    <div class="container d-flex justify-content-center">
        <div class="mobile-tab-dropdown">
            <div class="tab-dropdown">
                <div class="tab-dropdown-label">Consult</div>
                <ul class="tab-dropdown-list">
                    <li data-href="#consult" data-show="consult"><span>Consult</span></li>
                    <li data-href="#plan" data-show="plan"><span>Plan</span></li>
                    <li data-href="#iterate" data-show="iterate"><span>Iterate</span></li>
                    <li data-href="#demo" data-show="demo"><span>Demo</span></li>
                    <li data-href="#deploy" data-show="deploy"><span>Deploy</span></li>
                    <li data-href="#support" data-show="support"><span>Support</span></li>
                </ul>
            </div>
            <a href="lets-talk.html" class="btn-grn">Get Started</a>
        </div>
    </div>
    <!--responsive dropdown end-->



</section>
<div class="tab-content howItWorks-content" id="howItWorksTabContent">
    <div class="tab-pane fade show active" id="consult" role="tabpanel" aria-labelledby="consult-tab">
        <div class="hiw-section bl-bg t-white">
            <div class="container">
                <div class="row justify-content-lg-between _sm-wrapper">
                    <div class="col-lg-5 col-md-6 _flex-md">
                        <header>
                            <h2 class="title-md m-0">Consult</h2>
                            <p class="text-light">Let’s get to know you.</p>
                        </header>
                        <ul class="hiw-section-list">
                            <li>Fast but in-depth.</li>
                            <li>Designed to capture your requirements and style.</li>
                            <li>Vital to delivering a custom software solution.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="photo">
                            <img src="assets/img/howitworks/Consult.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="max-lg-350 accordeon _no-wrap">
                            <div class="ac-list">
                                <h2 class="question">Why is a consultation needed?</h2>
                                <div class="answ-container">
                                    <p class="text">This is when we get to know you, your organization, and your audience, as well as your requirements, specs, and goals, all of which will inform the development process.</p>
                                </div>
                            </div>
                            <div class="ac-list">
                                <h2 class="question">How long does it take?</h2>
                                <div class="answ-container">
                                    <p class="text">The consultation takes very little time, mere minutes in some cases. We also conduct it remotely – it’s a discovery call through Zoom.</p>
                                </div>
                            </div>
                            <div class="ac-list">
                                <h2 class="question">What information do you need in the consult stage?</h2>
                                <div class="answ-container">
                                    <p class="text">During this phase, we learn what you are trying to do, more about your brand, the composition of your audience, and your goals for any custom software. Then, we provide you with a quote and a scope of services to review.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="plan" role="tabpanel" aria-labelledby="plan-tab">
        <div class="hiw-section bl-bg t-white">
            <div class="container">
                <div class="row justify-content-lg-between _sm-wrapper">
                    <div class="col-lg-5 col-md-6 _flex-md">
                        <header>
                            <h2 class="title-md m-0">Plan</h2>
                            <p class="text-light">A good plan supports success.</p>
                        </header>
                        <ul class="hiw-section-list">
                            <li>Detailed plan based on your specs and goals.</li>
                            <li>Key milestones are set.</li>
                            <li>An end date for the development is set.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="photo">
                            <img src="assets/img/howitworks/Plan.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="max-lg-350 accordeon _no-wrap">
                            <div class="ac-list">
                                <h2 class="question">What’s involved in the planning process?</h2>
                                <div class="answ-container">
                                    <p class="text">During this process, we outline what you’re trying to achieve with custom software, determine which team members are ideally suited for the project, and more</p>
                                </div>
                            </div>
                            <div class="ac-list">
                                <h2 class="question">Why is planning necessary?</h2>
                                <div class="answ-container">
                                    <p class="text">Without a robust plan, development cannot proceed. Think of this as creating a roadmap we’ll follow to completion.</p>
                                </div>
                            </div>
                            <div class="ac-list">
                                <h2 class="question">How long does planning take?</h2>
                                <div class="answ-container">
                                    <p class="text">Like the initial consultation, the planning process does not take very long, but it is a vital component of a successful project.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="iterate" role="tabpanel" aria-labelledby="iterate-tab">
        <div class="hiw-section bl-bg t-white">
            <div class="container">
                <div class="row justify-content-lg-between _sm-wrapper">
                    <div class="col-lg-5 col-md-6 _flex-md">
                        <header>
                            <h2 class="title-md m-0">Iterate</h2>
                            <p class="text-light">Tweaks make the software better.</p>
                        </header>
                        <ul class="hiw-section-list">
                            <li>Adjustments are made to improve accuracy.</li>
                            <li>We discuss needed changes or tweaks.</li>
                            <li>We work closely with you to ensure complete alignment.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="photo">
                            <img src="assets/img/howitworks/iterate.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="max-lg-350 accordeon _no-wrap">
                            <div class="ac-list">
                                <h2 class="question">What happens during the iteration phase?</h2>
                                <div class="answ-container">
                                    <p class="text">At this point, we work with you to ensure that any custom software is completely aligned with your needs and goals, and to make any needed adjustments.</p>
                                </div>
                            </div>
                            <div class="ac-list">
                                <h2 class="question">How long does the iteration phase take?</h2>
                                <div class="answ-container">
                                    <p class="text">With all custom software development, we follow agile development methodologies to ensure fast completion.</p>
                                </div>
                            </div>
                            <div class="ac-list">
                                <h2 class="question">What information do you need from us?</h2>
                                <div class="answ-container">
                                    <p class="text">We’ll work with you to obtain any information needed for your custom software build, including additional functionality, design elements, operability requirements, and more.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="demo" role="tabpanel" aria-labelledby="demo-tab">
        <div class="hiw-section bl-bg t-white">
            <div class="container">
                <div class="row justify-content-lg-between _sm-wrapper">
                    <div class="col-lg-5 col-md-6 _flex-md">
                        <header>
                            <h2 class="title-md m-0">Demo</h2>
                            <p class="text-light">Let’s see it in action!</p>
                        </header>
                        <ul class="hiw-section-list">
                            <li>We deliver a functioning demo.</li>
                            <li>The code is checked for bugs and errors.</li>
                            <li>Final adjustments get made.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="photo">
                            <img src="assets/img/howitworks/Group 339.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="max-lg-350 accordeon _no-wrap">
                            <div class="ac-list">
                                <h2 class="question">Is a demo really necessary?</h2>
                                <div class="answ-container">
                                    <p class="text">Yes, the demo stage is essential – this is your first chance to see your custom business software in operation. </p>
                                </div>
                            </div>
                            <div class="ac-list">
                                <h2 class="question">Can I still make changes?</h2>
                                <div class="answ-container">
                                    <p class="text">Yes! Based on the demo, we’ll work with you to identify any last-minute changes that need to be made and implement them.</p>
                                </div>
                            </div>
                            <div class="ac-list">
                                <h2 class="question">How long does this stage last?</h2>
                                <div class="answ-container">
                                    <p class="text">The demo stage should be very brief – once you’ve seen your custom software or custom app in operation and provided feedback about any changes needed, we’ll move on to the next step.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="deploy" role="tabpanel" aria-labelledby="deploy-tab">
        <div class="hiw-section bl-bg t-white">
            <div class="container">
                <div class="row justify-content-lg-between _sm-wrapper">
                    <div class="col-lg-5 col-md-6 _flex-md">
                        <header>
                            <h2 class="title-md m-0">Deploy</h2>
                            <p class="text-light">It’s alive!</p>
                        </header>
                        <ul class="hiw-section-list">
                            <li>Custom software is released.</li>
                            <li>Fully functional.</li>
                            <li>Ready for use by your team, customers, or other audience.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="photo">
                            <img src="assets/img/howitworks/Group 270.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="max-lg-350 accordeon _no-wrap">
                            <div class="ac-list">
                                <h2 class="question">How does the deployment stage work?</h2>
                                <div class="answ-container">
                                    <p class="text">Once you’ve approved the demo and development is done, we’ll release the custom software to you for use as you see fit.</p>
                                </div>
                            </div>
                            <div class="ac-list">
                                <h2 class="question">Is the software fully developed?</h2>
                                <div class="answ-container">
                                    <p class="text">Yes, we never release software until it’s ready for primetime.</p>
                                </div>
                            </div>
                            <div class="ac-list">
                                <h2 class="question">What if we decide we would like to add more functionality or features?</h2>
                                <div class="answ-container">
                                    <p class="text">We’re always happy to add features and functions if necessary, although it may require a new project to be started.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="support" role="tabpanel" aria-labelledby="support-tab">
        <div class="hiw-section bl-bg t-white">
            <div class="container">
                <div class="row justify-content-lg-between _sm-wrapper">
                    <div class="col-lg-5 col-md-6 _flex-md">
                        <header>
                            <h2 class="title-md m-0">Support</h2>
                            <p class="text-light">We stand by you.</p>
                        </header>
                        <ul class="hiw-section-list">
                            <li>Ongoing help and support.</li>
                            <li>Maintenance and updates.</li>
                            <li>Complete peace of mind.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="photo">
                            <img src="assets/img/howitworks/support.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="max-lg-350 accordeon _no-wrap">
                            <div class="ac-list">
                                <h2 class="question">Can you help us with maintenance on custom software and apps?</h2>
                                <div class="answ-container">
                                    <p class="text">Yes! We’re happy to provide you with maintenance and housekeeping services to ensure that your custom software solution operates correctly moving forward.</p>
                                </div>
                            </div>
                            <div class="ac-list">
                                <h2 class="question">What about updates?</h2>
                                <div class="answ-container">
                                    <p class="text">We can handle app and software updates based on a range of factors, from hardware compatibility to new audience considerations.</p>
                                </div>
                            </div>
                            <div class="ac-list">
                                <h2 class="question">What if we experience problems down the road?</h2>
                                <div class="answ-container">
                                    <p class="text">We’re always here to help. Just <a href="lets-talk.html" class="t-white-link">get in touch</a> with us.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="getin-touch-section dbl-bg _hiw">
    <div class="container _ex">
        <div class="t-white">
            <h2 class="title-sm">Custom Software to Accelerate Growth</h2>
            <p class="text _ex">At Job Hub Group, our multi-step software development process ensures accuracy, cost savings, and reduced time to deployment. Find out how we can help you succeed today.</p>
        </div>
        <a href="lets-talk.html" class="btn-grn">Get Started</a>
    </div>
</section>
