---
layout: custom-navbar
title: Investors
---
<section class="funding-section investors bl-bg">
    <div class="container">
        <div class="section t-white">
            <div class="info">
                <h1 class="title-35">
                    Want to Invest
                    <br>
                    <span class="title-60">in a project?</span>
                </h1>
                <p class="text">At Job Hub Group, we work with entrepreneurs and small businesses to develop innovative custom software and groundbreaking applications. Many of our clients are open to outside investment from angel investors and other partners. We can help you maximize your return while limiting your exposure to risk.</p>
            </div>
            <div class="photo">
                <img src="assets/img/investors/investors.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="services-section _funding _investors">
    <div class="container">
        <div class="section t-black">
            <div class="info">
                <h2 class="title-sm">How We Help Investors</h2>
                <div class="text">
                    <p>There’s a lot of legwork involved in finding the right investments. It takes time, effort, and a lot of due diligence to ensure you’re making an informed decision that will deliver the ROI that you need.</p>
                </div>
                <h2 class="title-sm">We can help</h2>
                <div class="text">
                    <p>We work with innovative startups, forward-thinking entrepreneurs, and rapidly scaling small businesses, but we also work with a wide range of angel investors. We provide access to exciting projects that offer the potential for outstanding returns on the initial investment. Plus, because we are intimately involved in the development process, we are positioned to help reduce risk and ensure sound investment decisions.</p>
                </div>
            </div>
            <div class="photo">
                <img src="assets/img/investors/investors_inner.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="getin-touch-section funding investors dbl-bg">
    <div class="container _ex">
        <div class="row">
            <div class="col-lg-10">
                <div class="t-white">
                    <h4 class="bw">Interest in growing your returns while limiting your exposure to risk?</h4>
                    <p>Get in touch with us – <a href="sign-up.html" class="bw">sign up</a> for our investor emails to receive alerts about exciting new companies open to angel investors.</p>
                </div>
            </div>
        </div>
        <div class="main-form-git">
            <form id="investor-newsletter-form">
                <div class="row">
                    <div class="col-md-4 col-lg-5">
                        <label for="fullname">Full name</label>
                        <input name="full_name" type="text" id="fullname">
                    </div>
                    <div class="col-md-4 col-lg-5">
                        <label for="email">Email</label>
                        <input name="email" type="text" id="email">
                    </div>
                    <div class="col-md-4 col-lg-2">
                        <button type="submit" class="btn-grn">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
