---
layout: default
title: Is Your Municipal Website Accessible Tips to Ensure Compliance with the ADA
---
<section class="blog-header nonprofit-header bl-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-8 col-10 d-flex align-items-center">
                <header class="t-white">
                    <h1 class="title-md _blog-md">Is Your Municipal Website Accessible? Tips to Ensure Compliance with the ADA</h1>
                </header>
            </div>
            <div class="col-md-6 col-sm-4 col-2">
                <div class="blog-header-img text-center">
                    <img src="assets/img/nonprofits/ADABlog.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-article-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <ul class="blog-navigation">
                    <li class="active" data-target="first">What Does Website Accessibility Mean?</li>
                    <li data-target="second">Critical Tips to Ensure Compliance with the Law</li>
                    <li data-target="third">In Conclusion</li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div class="text-article">
                    <p>The ADA, or Americans with Disabilities Act, was passed in 1990 and spelled out the requirements for business owners and others when it came to ensuring that their establishments were accessible to those with disabilities. This covered things like adding ramps to building entrances when stairs were previously the only means of access, but also touched on discrimination and numerous other topics. It was further modified in 2008 when the Americans with Disabilities Act Amendments Act, or ADAAA, was passed.
                        <br>
                        <br>
                        Today, the ADA and its associated amendments protect the rights of those with disabilities, including their ability to access digital properties, such as your municipality’s website. Of course, that is easier said than done. How do you make a digital property accessible to individuals with disabilities? What does that even mean?
                    </p>
                    <h2 class="title-article" data-scroll="first">What Does Website Accessibility Mean?</h2>
                    <p>Website accessibility simply means that your site is designed to be inclusive of everyone, even those with disabilities. For instance, embedding text-to-speech capabilities within your site ensures that those with visual impairments can access information easily. It’s all about ensuring access to features, capabilities, tools, and other elements offered on your site to the widest possible audience.</p>
                    <h2 class="title-article" data-scroll="second">Critical Tips to Ensure Compliance with the Law</h2>
                    <p>While the law requires your municipal website to be accessible, that does you little good in making the transition. How does accessibility apply to a digital property like a website? What steps should you take to ensure that you’re actually in compliance and able to provide access to disabled citizens within your city or town? The following tips will help ensure that you’re able to comply with the law and uphold your responsibility to citizens with disabilities.</p>
                    <div class="number-list">
                        <span class="b-text d-block">1. The Right CMS Matters</span>
                        <br>
                        Interestingly, one of the first considerations you need to make when it comes to website accessibility isn’t related to design or layout, but to the content management system (CMS) that you use. Drupal and WordPress both support accessibility, but there are others that may work well, too.
                        <br>
                        <br>
                        <br>
                        <span class="b-text d-block">2. Use Appropriate Link Language</span>
                        <br>
                        Embedded links are important to help your users navigate your website, but to make things more accessible, ensure that you use appropriate link language. For example, “click here” is never a good option. Instead, use relevant content links, such as “visit our About Us page to learn more about our city”. Or, “the Clerk of Courts handles …”.
                        <br>
                        <br>
                        <br>
                        <span class="b-text d-block">3. Theme/Template</span>
                        <br>
                        If you’ll be using a theme or template, make sure that it also supports accessibility. If you’re going the custom designed route, make sure that your website designer understands the need for accessibility and can incorporate that into the design of your site.
                        <br>
                        <br>
                        <br>
                        <span class="b-text d-block">4. Content Structure</span>
                        <br>
                        One key element of website accessibility is ensuring that your page content is structured for easy readability. Screen readers for the disabled use heading structure to navigate the site and correctly interpret information. Note that you should only use &lt;h1&gt; headers at the very top of the page. Also, skipping a level (going from H1 to H3 without using H2, for instance) may confuse some visitors as it makes it appear that information is missing.
                        <br>
                        <br>
                        <br>
                        <span class="b-text d-block">5. Think Beyond the Mouse</span>
                        <br>
                        When it comes to navigating your website, chances are good that you assume visitors will just click the mouse button on whatever link they want to visit. That’s fine in most instances, but those with disabilities may not be able to use a mouse, which means you need to ensure that every bit of your website can be reached via the keyboard tab key and arrow keys. Using the right tab order, breaking up long pages with jump links, and easy submenu navigation for keyboard users are all important steps here.
                        <br>
                        <br>
                        <br>
                        <span class="b-text d-block">6. Image Alt Text</span>
                        <br>
                        Good imagery is vital for your website, but you need to do more than simply embed pictures at strategic places. Image alt text is invisible most of the time, but tells screen readers what the images are and how they tie into the page content. Make sure that your image alt text explains the message the image sends, and also includes any text that might be found within the image. This is particularly important for information-rich images like infographics.
                        <br>
                        <br>
                        <br>
                        <span class="b-text d-block">7. Ensure Form Field Accessibility</span>
                        <br>
                        Chances are good that your municipality’s website will provide access to online forms for your citizenry. Those forms need to be accessible, just like your website. One of the most critical considerations here is making sure that form fields are labeled appropriately so that screen readers can understand them.
                        <br>
                        <br>
                        <br>
                        <span class="b-text d-block">8. Avoid Tables</span>
                        <br>
                        It’s tempting to put web page content into tables. That offers easy organization and a pleasing visual layout for most people. However, it plays havoc with screen readers. Screen readers will automatically tell the user that there is a table with X columns and X rows (even if the table borders are invisible on the screen). Plus, you cannot count on the screen reader actually reading the information in the order that it’s presented visually, which may negatively impact the user’s experience.
                        <br>
                        <br>
                        <br>
                        <span class="b-text d-block">9. Plan for Dynamic Content</span>
                        <br>
                        Dynamic content updates automatically, without the user needing to refresh the page. That’s great in most instances, but when it comes to screen readers, it’s not so good as they may not notice the new content. In-page updates, lightboxes, and other forms of dynamic content should be made more accessible through ARIA roles and front-end frameworks to ensure accessibility.
                        <br>
                    </div>
                    <h2 class="title-article" data-scroll="third">In Conclusion</h2>
                    <p>When it’s all said and done, creating a vibrant municipal website is only the first step. You also need to ensure that all areas of the site are accessible for visitors with disabilities. Doing that can be incredibly challenging, particularly when you’re pressed for time and dealing with a limited web design and development budget. That’s where Job Hub Group comes in.
                        <br>
                        <br>
                        Our expert web designers understand the need for accessibility, and offer the speed to completion, affordability, and experience that you need. Don’t leave your municipality’s website accessibility in question – we help ensure that you comply with the law and uphold your responsibility to your citizens. <a href="lets-talk.html" class="p-bold-black">Contact us</a> today to learn more.
                    </p>
                </div>
            </div>
        </div>
        <div class="source-links">
            <p>Sources</p>
            <a target="_blank" href="https://www.dreamhost.com/blog/make-your-website-accessible/">https://www.dreamhost.com/blog/make-your-website-accessible/</a>
            <a target="_blank" href="https://webaccess.berkeley.edu/resources/tips/web-accessibility">https://webaccess.berkeley.edu/resources/tips/web-accessibility</a>
            <a target="_blank" href="https://www.whoishostingthis.com/resources/website-accessibility/">https://www.whoishostingthis.com/resources/website-accessibility/</a>
        </div>
    </div>
</section>
