---
layout: default
title: Let's Talk
---
<section class="talk-section center-title paddinger text-center">
    <div class="container">
        <header>
            <h1 class="title">Let’s Talk</h1>
            <p class="text">Questions? Comments? Concerns? Get in touch with us today.</p>
        </header>
    </div>
</section>
<section class="talk-form-section bl-bg">
    <div class="container">
        <form id="lets-talk-form" class="main-form">
            <label for="fullname">Full name</label>
            <input type="text" name="full_name" id="fullname">
            <label for="phonenum">Phone number</label>
            <input type="text" name="phone" id="phonenum">
            <label for="email">Email address</label>
            <input type="text" name="email" id="email">
            <label for="message">How can we help?</label>
            <div class="message">
                <textarea name="message" id="message" cols="30" rows="10"></textarea>
                <span class="char-counter">max 300</span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn-grn">Send</button>
            </div>
        </form>
    </div>
</section>
