---
layout: default
title: Sign up
---
<section class="signup-section center-title paddinger text-center">
    <div class="container">
        <header>
            <h1 class="title">Sign up</h1>
        </header>
    </div>
</section>
<section class="talk-form-section bl-bg">
    <div class="container">
        <form action="" class="main-form">
            <label for="fullname">Full name</label>
            <input type="text" id="fullname">
            <label for="username">Username</label>
            <input type="text" id="username">
            <label for="email">Email address</label>
            <input type="text" id="email">
            <label for="pass">Password</label>
            <input type="password" id="pass">
            <label for="repeatpass">Confirm Password</label>
            <input type="password" id="repeatpass">
            <div class="text-center">
                <button type="submit" class="btn-grn">Sign up</button>
                <br>
                <span class="policy">By clicking this button, you agree to Job Hub Group’s
                    <br>
                    <a href="#!">Anti-spam Policy & Terms of Use</a></span>
            </div>
        </form>
    </div>
</section>
