<footer class="footer">
    <div class="container">
        <div class="footer-logo _ex">
            <a href="index.html"></a>
        </div>
        <div class="row">
            <div class="col-lg-4 _toggle">
                <div class="footer-logo">
                    <a href="index.html"></a>
                </div>
                <div class="awards">
                    <img src="assets/img/footer/AI-ExcellenceAward-2019.svg" alt="">
                    <img src="assets/img/footer/Excellence-CustServ-Award-2019.svg" alt="">
                </div>
            </div>
            <div class="mobile-flex col-lg-2 col-md-3">
                <div class="footer-list">
                    <a href="services.html" class="f-title">Services</a>
                    <ul class="mobile-dropdown">
                        <li><a href="services.html#web-apps">Software development</a></li>
                        <li><a href="services.html#mob-apps">App development</a></li>
                        <li><a href="services.html#machine-learning">Artificial Inteligence</a></li>
                        <li><a href="custom-machine-learning-solutions.html">Augmented reality</a></li>
                        <li><a href="services.html#blockchain">Blockchain</a></li>
                        <li><a href="custom-blockchain-based-solutions.html">Fintech</a></li>
                    </ul>
                </div>
            </div>
            <div class="mobile-flex col-lg-2 col-md-3">
                <div class="footer-list">
                    <a href="services.html" class="f-title">Company</a>
                    <ul class="mobile-dropdown">
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="how-it-works.html">How it works</a></li>
                        <li><a href="careers.html">Careers</a></li>
                        <li><a href="blog.html">Blog/Articles</a></li>
                        <li><a href="faq.html">FAQs</a></li>
                    </ul>
                </div>
            </div>
            <div class="mobile-flex col-lg-2 col-md-3">
                <div class="footer-list">
                    <a href="get-a-quote.html" class="f-title">Pricing</a>
                    <ul class="mobile-dropdown">
                        <li><a href="get-a-quote.html">Get a Quote</a></li>
                        <li><a href="investors.html">Investors</a></li>
                        <li><a href="funding.html">Funding</a></li>
                    </ul>
                </div>
            </div>
            <div class="mobile-flex col-lg-2 col-md-3">
                <div class="footer-list">
                    <a href="lets-talk.html" class="f-title talk">Let's Talk</a>
                    <ul>
                        <li><a href="mailto:Info@jobhubgroup.com">Info@jobhubgroup.com</a></li>
                        <li><a href="tel:1-888-317-3503">1-888-317-3503</a></li>
                        <li class="d-flex socials">
                            <a href="#!" target="_blank" class="ico fb"></a>
                            <a href="#!" target="_blank" class="ico tw"></a>
                        </li>
                        <li>
                            <img src="assets/img/footer/bitcoin.png" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="awards">
                <img src="assets/img/footer/AI-ExcellenceAward-2019.svg" alt="">
                <img src="assets/img/footer/Excellence-CustServ-Award-2019.svg" alt="">
            </div>
            <div class="copyright">© 2019. Job Hub Group. All rights reserved.</div>
        </div>
    </div>
</footer>
