<nav class="nav-bar">
    <div class="container">
        <div class="hamburger">
            <span class="t"></span>
            <span class="m"></span>
            <span class="b"></span>
        </div>
        <div class="logo">
            <a href="index.html"></a>
        </div>
        <ul>
            <li><a href="nonprofits-municipalities.html">Municipalities</a></li>
            <li><a href="about-us.html">About Us</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="how-it-works.html">How it works</a></li>
            <li><a href="get-a-quote.html">Get a Quote</a></li>
            <li><a href="lets-talk.html">Let's Talk</a></li>
            <li class="res-copy">© 2019. Job Hub Group. All rights reserved.</li>
        </ul>
    </div>
</nav>
