{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="icon" href="assets/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="assets/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <style>
        .coming-soon-banner {
            height:              100vh;
            background-color:    #3b61c4;
            position:            relative;
            min-height:          500px;
            background-image:    url("assets/img/coming-soon.png");
            background-size:     60%;
            background-position: bottom right;
            display:             flex;
            align-items:         center;
            justify-content:     space-between;
        }

        .coming-soon-banner .container {
            display:         flex;
            flex-direction:  column;
            justify-content: space-around;
            height:          100vh;
            min-height:      100%;
        }

        .coming-soon-banner h1 {
            color:         #ffffff;
            font-size:     50px;
            max-width:     420px;
            margin-bottom: 100px;
        }

        .coming-soon-banner h1 span {
            font-size: 40px;
        }

        .coming-soon-banner p {
            margin:         0;
            color:          #ffffff;
            font-size:      10px;
            letter-spacing: -0.3px;
            line-height:    24px;
        }

        .coming-soon-banner .logo img {
            width:      200px;
            margin-top: 20px;
        }

        @media (max-width: 991px) {
            .coming-soon-banner {
                align-items:             flex-start;
                text-align:              center;
                background-position:     center;
                height:                  110vh;
                min-height:              1100px;
                -webkit-background-size: 700px;
                background-size:         700px;
            }

            .coming-soon-banner .container {
                align-items: center;
                height:      auto;
                min-height:  unset;
            }

            .coming-soon-banner h1 {
                font-size: 40px;
            }

            .coming-soon-banner h1 span {
                font-size: 30px;
            }

            .coming-soon-banner .logo img {
                margin-top:    70px;
                margin-bottom: 50px;
            }

            .coming-soon-banner p {
                position:          absolute;
                left:              50%;
                -webkit-transform: translateX(-50%);
                -moz-transform:    translateX(-50%);
                -ms-transform:     translateX(-50%);
                -o-transform:      translateX(-50%);
                transform:         translateX(-50%);
                bottom:            10%;
            }
        }
    </style>
</head>
<body>
{{> body}}
</body>
</html>
